  /* @media (min-width: 992px){ 
    .justify-content-lg-end { 
      -ms-flex-pack: end !important; 
      justify-content: flex-end !important;
    } 
  }     
  
  .px-4 { 
      padding-right: 1.5rem !important;
  } 
  
  .px-4 { 
      padding-left: 1.5rem !important;
  } 
  
  .col-lg-4,.col-md-6,.col-sm-8 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 576px){ 
    .col-sm-8 { 
      -ms-flex: 0 0 66.66667%; 
      flex: 0 0 66.66667%; 
      max-width: 66.66667%;
    } 
  }     
  
  @media (min-width: 768px){ 
    .col-md-6 { 
      -ms-flex: 0 0 50%; 
      flex: 0 0 50%; 
      max-width: 50%;
    } 
  }     
  
  @media (min-width: 992px){ 
    .col-lg-4 { 
      -ms-flex: 0 0 33.33333%; 
      flex: 0 0 33.33333%; 
      max-width: 33.33333%;
    } 
  }     
  
  .gy-2 > *  { 
      padding-top: .5rem; 
      padding-bottom: .5rem;
  } 
  
  .col-lg-8,.col-md-6,.col-sm-4 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 576px){ 
    .col-sm-4 { 
      -ms-flex: 0 0 33.33333%; 
      flex: 0 0 33.33333%; 
      max-width: 33.33333%;
    } 
  }     
  
  @media (min-width: 992px){ 
    .col-lg-8 { 
      -ms-flex: 0 0 66.66667%; 
      flex: 0 0 66.66667%; 
      max-width: 66.66667%;
    } 
  }     
  
  .mb-2 { 
      margin-bottom: .5rem !important;
  } 
  
  @media (min-width: 576px){ 
    .mb-sm-0 { 
      margin-bottom: 0 !important;
    } 
  }     
  
  .table-responsive thead  { 
      position: sticky; 
      top: 0; 
      z-index: 1;
  } 
  
  .table .thead-50  { 
      block-size: 50px;
  } 
  
  @media (min-width: 576px){ 
    .justify-content-sm-end { 
      -ms-flex-pack: end !important; 
      justify-content: flex-end !important;
    } 
  }     
  
  .input-group { 
      position: relative; 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      -ms-flex-align: stretch; 
      align-items: stretch; 
      width: 100%;
  } 
  
  .input-group-merge { 
      position: relative;
  } 
  
  .input-group-custom { 
      border: 1px solid var(--c1); 
      border-radius: 5px;
  } 
  
  button { 
      border-radius: 0;
  } 
  
  button { 
      margin: 0; 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  button { 
      overflow: visible;
  } 
  
  button { 
      text-transform: none;
  } 
  
  [type="button"],button { 
      -webkit-appearance: button;
  } 
  
  .btn { 
      display: inline-block; 
      font-weight: 400; 
      color: #677788; 
      text-align: center; 
      vertical-align: middle; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      background-color: transparent; 
      border: .0625rem solid transparent; 
      padding: .54688rem .875rem; 
      font-size: .875rem; 
      line-height: 1.6; 
      border-radius: .3125rem; 
      transition: all .2s ease-in-out;
  } 
  
  .btn { 
      position: relative;
  } 
  
  .btn-outline--primary { 
      color: var(--c1); 
      border-color: var(--c1);
  } 
  
  [type="button"]:not(:disabled),button:not(:disabled) { 
      cursor: pointer;
  } 
  
  .btn:not(:disabled):not(.disabled) { 
      cursor: pointer;
  } 
  
  .btn:hover { 
      color: #677788; 
      text-decoration: none;
  } 
  
  .btn-outline--primary:hover { 
      background-color: var(--c1); 
      color: #fff;
  } 
  
  ul { 
      margin-top: 0; 
      margin-bottom: 1rem;
  } 
  
  .dropdown-menu { 
      position: absolute; 
      top: 100%; 
      left: 0; 
      z-index: 98; 
      display: none; 
      float: left; 
      min-width: 8.4375rem; 
      padding: 1rem 0; 
      margin: .625rem 0 0; 
      font-size: .875rem; 
      color: #677788; 
      text-align: left; 
      list-style: none; 
      background-color: #fff; 
      background-clip: padding-box; 
      border: 0 solid rgba(0, 0, 0, .15); 
      border-radius: .75rem;
  } 
  
  .dropdown-menu-right { 
      right: 0; 
      left: auto;
  } 
  
  .dropdown-menu { 
      box-shadow: 0 10px 40px 10px rgba(140, 152, 164, .175);
  } 
  
  .dropdown-menu { 
      width: 16rem;
  } 
  
  th { 
      font-weight: 400; 
      text-align: inherit; 
      text-align: -webkit-match-parent;
  } 
  
  .table th  { 
      padding: .75rem; 
      vertical-align: top; 
      border-top: .0625rem solid rgba(231, 234, 243, .7);
  } 
  
  .card-table th  { 
      padding-right: 1.3125rem; 
      padding-left: 1.3125rem;
  } 
  
  .table th  { 
      font-weight: 400;
  } 
  
  .table-nowrap th  { 
      white-space: nowrap;
  } 
  
  .table thead th  { 
      vertical-align: bottom; 
      border-bottom: .125rem solid rgba(231, 234, 243, .7);
  } 
  
  .table-borderless th ,.table-borderless thead th  { 
      border: 0;
  } 
  
  .table thead th  { 
      font-size: .75rem; 
      text-transform: uppercase; 
      font-weight: 600;
  } 
  
  .table-thead-bordered thead th  { 
      border-top: .0625rem solid rgba(231, 234, 243, .7); 
      border-bottom: .0625rem solid rgba(231, 234, 243, .7);
  } 
  
  thead.text-capitalize th  { 
      text-transform: capitalize; 
      font-size: 14px;
  } 
  
  .table-responsive thead th  { 
      border-top: none!important;
  } 
  
  .table .thead-light th  { 
      color: #677788; 
      background-color: #f8fafd; 
      border-color: rgba(231, 234, 243, .7);
  } 
  
  .table .thead-50 th  { 
      vertical-align: middle;
  } 
  
  .table .thead-light th  { 
      color: var(--title-color); 
      background-color: #f7faff; 
      border-color: rgba(1,119,205,.1);
  } 
  
  .text-center { 
      text-align: center !important;
  } 
  
  .table td  { 
      padding: .75rem; 
      vertical-align: top; 
      border-top: .0625rem solid rgba(231, 234, 243, .7);
  } 
  
  .table-borderless td  { 
      border: 0;
  } 
  
  .card-table td  { 
      padding-right: 1.3125rem; 
      padding-left: 1.3125rem;
  } 
  
  .table-nowrap td  { 
      white-space: nowrap;
  } 
  
  .table-align-middle tbody td  { 
      vertical-align: middle;
  } 
  
  .input-group-prepend { 
      display: -ms-flexbox; 
      display: flex;
  } 
  
  .input-group-prepend { 
      margin-right: -.0625rem;
  } 
  
  .input-group .input-group-prepend  { 
      z-index: 4;
  } 
  
  .input-group-merge .input-group-prepend  { 
      position: absolute; 
      top: 0; 
      bottom: 0;
  } 
  
  .input-group-merge .input-group-prepend  { 
      left: 0;
  } 
  
  input { 
      margin: 0; 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  input { 
      overflow: visible;
  } 
  
  [type="search"] { 
      outline-offset: -2px; 
      -webkit-appearance: none;
  } 
  
  .form-control { 
      display: block; 
      width: 100%; 
      height: calc(1.6em + 1.21875rem); 
      padding: .54688rem .875rem; 
      font-size: .875rem; 
      font-weight: 400; 
      line-height: 1.6; 
      color: #1e2022; 
      background-color: #fff; 
      background-clip: padding-box; 
      border: .0625rem solid #e7eaf3; 
      border-radius: .3125rem; 
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  } 
  
  .form-control { 
      border-color: #d0dbe9;
  } 
  
  .input-group-custom input  { 
      border-radius: 0; 
      border: none;
  } 
  
  .input-group > .form-control  { 
      position: relative; 
      -ms-flex: 1 1 auto; 
      flex: 1 1 auto; 
      width: 1%; 
      min-width: 0; 
      margin-bottom: 0;
  } 
  
  .input-group > .form-control:not(:last-child)  { 
      border-top-right-radius: 0; 
      border-bottom-right-radius: 0;
  } 
  
  .input-group > .form-control:not(:first-child)  { 
      border-top-left-radius: 0; 
      border-bottom-left-radius: 0;
  } 
  
  .input-group-merge .form-control:not(:first-child)  { 
      padding-left: 2.625rem; 
      border-top-left-radius: .3125rem; 
      border-bottom-left-radius: .3125rem;
  } 
  
  .input-group-merge .form-control:not(:last-child)  { 
      padding-right: 2.625rem; 
      border-top-right-radius: .3125rem; 
      border-bottom-right-radius: .3125rem;
  } 
  
  .input-group-merge .form-control:not(:last-child)  { 
      padding-right: 10px;
  } 
  
  [type="submit"],button { 
      -webkit-appearance: button;
  } 
  
  .btn--primary { 
      background-color: var(--c1); 
      color: #fff;
  } 
  
  [type="submit"]:not(:disabled),button:not(:disabled) { 
      cursor: pointer;
  } 
  
  .input-group-custom .btn  { 
      border-radius: 0; 
      border: none;
  } 
  
  .btn--primary:hover { 
      background-color: #04a3e7; 
      color: #fff;
  } 
  
  [class^="tio-"] { 
      font-family: the-icon-of!important; 
      font-size: 1.125em; 
      speak: none; 
      font-style: normal; 
      font-weight: 400; 
      font-variant: normal; 
      text-transform: none; 
      line-height: 1; 
      letter-spacing: 0; 
      -webkit-font-feature-settings: "liga"; 
      -moz-font-feature-settings: "liga"; 
      -ms-font-feature-settings: "liga" 1; 
      font-feature-settings: "liga"; 
      -webkit-font-variant-ligatures: discretionary-ligatures; 
      font-variant-ligatures: discretionary-ligatures; 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale;
  } 
  
  .tio-download-to:before { 
      content: "\ed24";
  } 
  
  .tio-chevron-down:before { 
      content: "\e9b1";
  } 
  
  a { 
      color: #377dff; 
      text-decoration: none; 
      background-color: transparent;
  } 
  
  .title-color { 
      color: var(--title-color);
  } 
  
  .gap-10 { 
      gap: 10px;
  } 
  
  a:hover { 
      color: #0052ea; 
      text-decoration: none;
  } 
  
  a:hover { 
      color: var(--c1);
  } 
  
  .hover-c1:hover { 
      color: var(--c1)!important;
  } 
  
  .mb-1 { 
      margin-bottom: .25rem !important;
  } 
  
  a[href^="tel:"] { 
      pointer-events: none;
  } 
  
  a[href^="mailto:"]:after,a[href^="tel:"]:after { 
      content: ''; 
      display: none;
  } 
  
  label { 
      display: inline-block; 
      margin-bottom: .5rem;
  } 
  
  label { 
      text-transform: capitalize;
  } 
  
  .py-1 { 
      padding-top: .25rem !important;
  } 
  
  .py-1 { 
      padding-bottom: .25rem !important;
  } 
  
  .font-weight-bold { 
      font-weight: 600 !important;
  } 
  
  .text-info { 
      color: #00c9db !important;
  } 
  
  .bg-soft-info { 
      background-color: rgba(0, 201, 219, .1);
  } 
  
  .fz-12 { 
      font-size: 12px!important;
  } 
  
  .text-info { 
      color: #03b0c0!important;
  } 
  
  label.btn { 
      cursor: pointer !important;
  } 
  
  .table .btn  { 
      white-space: nowrap;
  } 
  
  .justify-content-center { 
      -ms-flex-pack: center !important; 
      justify-content: center !important;
  } 
  
  .input-group-text { 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-align: center; 
      align-items: center; 
      padding: .54688rem .875rem; 
      margin-bottom: 0; 
      font-size: .875rem; 
      font-weight: 400; 
      line-height: 1.6; 
      color: #677788; 
      text-align: center; 
      white-space: nowrap; 
      background-color: transparent; 
      border: .0625rem solid #e7eaf3; 
      border-radius: .3125rem;
  } 
  
  .input-group-text { 
      border-color: #e7eaf3;
  } 
  
  .input-group-merge .input-group-text  { 
      z-index: 4; 
      border: none;
  } 
  
  .input-group > .input-group-prepend > .input-group-text  { 
      border-top-right-radius: 0; 
      border-bottom-right-radius: 0;
  } 
  
  .input-group-merge .input-group-prepend .input-group-text  { 
      padding: 0 0 0 .875rem;
  } 
  
  .input-group-merge .input-group-prepend .input-group-text:first-child  { 
      border-top-left-radius: .3125rem; 
      border-bottom-left-radius: .3125rem; 
      border-top-right-radius: 0; 
      border-bottom-right-radius: 0;
  } 
  
  .dropdown-item { 
      display: block; 
      width: 100%; 
      padding: .375rem 1.5rem; 
      clear: both; 
      font-weight: 400; 
      color: #1e2022; 
      text-align: inherit; 
      white-space: nowrap; 
      background-color: transparent; 
      border: 0;
  } 
  
  .dropdown-item { 
      font-size: .8125rem;
  } 
  
  .dropdown-item { 
      padding: .75rem 1.5rem;
  } 
  
  .dropdown-item:hover { 
      color: #121314; 
      text-decoration: none; 
      background-color: rgba(189, 197, 209, .3);
  } 
  
  .rounded-circle { 
      border-radius: 50% !important;
  } 
  
  .avatar { 
      position: relative; 
      display: inline-block; 
      width: 2.625rem; 
      height: 2.625rem; 
      border-radius: .3125rem;
  } 
  
  strong { 
      font-weight: bolder;
  } 
  
  .badge-soft-version { 
      padding: 5px 10px!important; 
      color: #24bac3; 
      background-color: rgba(36,186,195,.1); 
      font-size: 12px; 
      font-weight: 700;
  } 
  
  .btn-outline-info { 
      color: #00c9db; 
      border-color: #00c9db;
  } 
  
  .btn-sm { 
      padding: .4375rem .65625rem; 
      font-size: .8125rem; 
      line-height: 0.5; 
      border-radius: .25rem;
  } 
  
  .square-btn { 
      width: 30px; 
      height: 30px; 
      padding: 3px; 
      display: grid; 
      place-items: center;
  } 
  
  .btn-outline-info:hover { 
      color: #fff; 
      background-color: #00c9db; 
      border-color: #00c9db;
  } 
  
  .mx-auto { 
      margin-right: auto !important;
  } 
  
  .mx-auto { 
      margin-left: auto !important;
  } 
  
  .switcher { 
      display: block; 
      position: relative; 
      cursor: pointer; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      inline-size: 36px; 
      block-size: 18px; 
      margin-bottom: 0;
  } 
  
  .btn-outline-danger { 
      color: #ed4c78; 
      border-color: #ed4c78;
  } 
  
  .square-btn,.btn.btn-sm.delete { 
      width: 30px; 
      height: 30px; 
      padding: 3px; 
      display: grid; 
      place-items: center;
  } 
  
  .btn-outline-danger:hover { 
      color: #fff; 
      background-color: #ed4c78; 
      border-color: #ed4c78;
  } 
  
  .tio-search:before { 
      content: "\e956";
  } 
  
  a[href^="mailto:"] { 
      pointer-events: none;
  } 
  
  .tio-invisible:before { 
      content: "\ed3b";
  } 
  
  .switcher_input { 
      position: absolute; 
      opacity: 0; 
      cursor: pointer; 
      height: 0; 
      width: 0;
  } 
  
  input[type="checkbox"] { 
      box-sizing: border-box; 
      padding: 0;
  } 
  
  .switcher_control { 
      position: absolute; 
      inset-block-start: 0; 
      inset-inline-start: 0; 
      inline-size: 36px; 
      block-size: 18px; 
      transition: background-color .15s ease-in; 
      background-color: #ced7dd; 
      border-radius: 50px;
  } 
  
  .switcher_input:checked ~ .switcher_control:not(.unchecked)  { 
      background-color: var(--c1);
  } 
  
  .switch .slider::after,.switch_control:after, .switcher .slider::after,.switcher_control:after { 
      content: ""; 
      position: absolute; 
      inset-block-start: 1px; 
      inset-inline-start: 1px; 
      inline-size: 16px; 
      block-size: 16px; 
      transition: left .15s ease-in; 
      background-color: #fff; 
      border-radius: 100%;
  } 
  
  .switch .status:checked ~ .slider::after, .switch_input:checked ~ .switcher_control:not(.unchecked)::after, .switcher .status:checked ~ .slider::after, .switcher_input:checked ~ .switcher_control:not(.unchecked)::after { 
      inset-inline-start: 19px;
  } 
  
  .tio-delete:before { 
      content: "\ed22";
  } 
  
  .switch .slider::after, .switch_control::after, .switcher .slider::after, .switcher_control::after { 
      content: ""; 
      position: absolute; 
      inset-block-start: 1px; 
      inset-inline-start: 1px; 
      inline-size: 16px; 
      block-size: 16px; 
      transition: left .15s ease-in; 
      background-color: #fff; 
      border-radius: 100%;
  } 
  

   */