.col-lg-12,.col-sm-12 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 576px){ 
  .col-sm-12 { 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%;
  } 
}     

@media (min-width: 992px){ 
  .col-lg-12 { 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%;
  } 
}     

.mb-3 { 
    margin-bottom: 1rem !important;
} 

@media (min-width: 992px){ 
  .mb-lg-2 { 
    margin-bottom: .5rem !important;
  } 
}     

*,:after,:before { 
    box-sizing: border-box;
} 

:selection { 
    color: #fff; 
    background-color: #377dff;
} 

body ::-webkit-scrollbar { 
    width: 4px; 
    height: 6px;
} 

body ::-webkit-scrollbar-thumb { 
    background-color: darkgrey;
} 

body ::-webkit-scrollbar-track { 
    background: rgba(0,0,0,.14);
} 

.card { 
    position: relative; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    min-width: 0; 
    word-wrap: break-word; 
    background-color: #fff; 
    background-clip: border-box; 
    border: .0625rem solid rgba(231, 234, 243, .7); 
    border-radius: .75rem;
} 

.card { 
    box-shadow: 0 6px 12px rgba(140, 152, 164, .075);
} 

.card { 
    border-color: #f4f4f4; 
    box-shadow: 0 5px 10px rgba(51,66,87,.05); 
    transition: all .3s ease;
} 

.card:hover { 
    box-shadow: 0 5px 24px rgba(7,59,116,.15);
} 

h2 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h2 { 
    font-size: 1.3125rem;
} 

.h1,h2 { 
    margin-bottom: .5rem; 
    font-weight: 600; 
    line-height: 1.4; 
    color: #1e2022;
} 

.h1 { 
    font-size: 1.41094rem;
} 

.d-flex { 
    display: -ms-flexbox !important; 
    display: flex !important;
} 

.mb-0 { 
    margin-bottom: 0 !important;
} 

.text-capitalize { 
    text-transform: capitalize !important;
} 

.h1,h2 { 
    color: #1e2022;
} 

.h1,h2 { 
    color: var(--title-color); 
    line-height: 1.2;
} 

.gap-2 { 
    gap: 8px;
} 

.h1 { 
    font-size: 20px;
} 

.py-4 { 
    padding-top: 1.5rem !important;
} 

.py-4 { 
    padding-bottom: 1.5rem !important;
} 

img { 
    vertical-align: middle; 
    border-style: none;
} 

img { 
    max-width: 100%;
} 

.table-responsive { 
    display: block; 
    width: 100%; 
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch;
} 

.table-responsive { 
    max-height: calc(80vh - 160px); 
    overflow: auto;
} 

table { 
    border-collapse: collapse;
} 

.table { 
    width: 100%; 
    margin-bottom: 1rem; 
    color: #677788;
} 

.w-100 { 
    width: 100% !important;
} 

.card-table { 
    margin-bottom: 0;
} 

.table { 
    color: var(--title-color);
} 

.text-start { 
    text-align: start;
} 

.table-responsive thead  { 
    position: sticky; 
    top: 0; 
    z-index: 1;
} 

.table .thead-50  { 
    block-size: 50px;
} 

th { 
    font-weight: 400; 
    text-align: inherit; 
    text-align: -webkit-match-parent;
} 

.table th  { 
    padding: .75rem; 
    vertical-align: top; 
    border-top: .0625rem solid rgba(231, 234, 243, .7);
} 

.card-table th  { 
    padding-right: 1.3125rem; 
    padding-left: 1.3125rem;
} 

.table th  { 
    font-weight: 400;
} 

.table-nowrap th  { 
    white-space: nowrap;
} 

.table thead th  { 
    vertical-align: bottom; 
    border-bottom: .125rem solid rgba(231, 234, 243, .7);
} 

.table-borderless th ,.table-borderless thead th  { 
    border: 0;
} 

.table thead th  { 
    font-size: .75rem; 
    text-transform: uppercase; 
    font-weight: 600;
} 

.table-thead-bordered thead th  { 
    border-top: .0625rem solid rgba(231, 234, 243, .7); 
    border-bottom: .0625rem solid rgba(231, 234, 243, .7);
} 

thead.text-capitalize th  { 
    text-transform: capitalize; 
    font-size: 14px;
} 

.table-responsive thead th  { 
    border-top: none!important;
} 

.table .thead-light th  { 
    color: #677788; 
    background-color: #f8fafd; 
    border-color: rgba(231, 234, 243, .7);
} 

.table .thead-50 th  { 
    vertical-align: middle;
} 

.table .thead-light th  { 
    color: var(--title-color); 
    background-color: #f7faff; 
    border-color: rgba(1,119,205,.1);
} 

.text-center { 
    text-align: center !important;
} 

.table-borderless th  { 
    border: 0;
} 

input { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

input { 
    overflow: visible;
} 

.form-control { 
    display: block; 
    width: 100%; 
    height: calc(1.6em + 1.21875rem); 
    padding: .54688rem .875rem; 
    font-size: .875rem; 
    font-weight: 400; 
    line-height: 1.6; 
    color: #1e2022; 
    background-color: #fff; 
    background-clip: padding-box; 
    border: .0625rem solid #e7eaf3; 
    border-radius: .3125rem; 
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
} 

.form-control { 
    border-color: #d0dbe9;
} 

input[type="number"] { 
    -moz-appearance: textfield;
} 

.d-block { 
    display: block !important;
} 

.mt-1 { 
    margin-top: .25rem !important;
} 

.text-danger { 
    color: #ed4c78 !important;
} 

.justify-content-center { 
    -ms-flex-pack: center !important; 
    justify-content: center !important;
} 

button { 
    border-radius: 0;
} 

button { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

button { 
    overflow: visible;
} 

button { 
    text-transform: none;
} 

[type="submit"],button { 
    -webkit-appearance: button;
} 

.btn { 
    display: inline-block; 
    font-weight: 400; 
    color: #677788; 
    text-align: center; 
    vertical-align: middle; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent; 
    border: .0625rem solid transparent; 
    padding: .54688rem .875rem; 
    font-size: .875rem; 
    line-height: 1.6; 
    border-radius: .3125rem; 
    transition: all .2s ease-in-out;
} 

.btn-outline-info { 
    color: #00c9db; 
    border-color: #00c9db;
} 

.btn { 
    position: relative;
} 

[type="submit"]:not(:disabled),button:not(:disabled) { 
    cursor: pointer;
} 

.table .btn  { 
    white-space: nowrap;
} 

.btn:not(:disabled):not(.disabled) { 
    cursor: pointer;
} 

.btn:hover { 
    color: #677788; 
    text-decoration: none;
} 

.btn-outline-info:hover { 
    color: #fff; 
    background-color: #00c9db; 
    border-color: #00c9db;
} 

a { 
    color: #377dff; 
    text-decoration: none; 
    background-color: transparent;
} 

.btn-outline-danger { 
    color: #ed4c78; 
    border-color: #ed4c78;
} 

a:hover { 
    color: #0052ea; 
    text-decoration: none;
} 

a:hover { 
    color: var(--c1);
} 

.btn-outline-danger:hover { 
    color: #fff; 
    background-color: #ed4c78; 
    border-color: #ed4c78;
} 

[type="button"],button { 
    -webkit-appearance: button;
} 

.btn-outline--primary { 
    color: var(--c1); 
    border-color: var(--c1);
} 

[type="button"]:not(:disabled),button:not(:disabled) { 
    cursor: pointer;
} 

.btn-outline--primary:hover { 
    background-color: var(--c1); 
    color: #fff;
} 






.barcode-a4 { 
    width: 8.25in; 
    border: 1px solid #ccc; 
    margin: 10px auto; 
    padding: 0.1in 0 0 0.1in; 
    page-break-after: always; 
    display: flex; 
    flex-wrap: wrap; 
    height: unset !important; 
    row-gap: 6px;
} 

.barcode-a4 .style24  { 
    width: 2.48in; 
    height: 1.535in; 
    margin-left: 0.079in; 
    padding-top: 0.05in;
} 

.barcode-a4 .item  { 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    padding: 10px 14px; 
    overflow: hidden; 
    text-align: center; 
    border: 1px dotted #ccc; 
    font-size: 12px; 
    line-height: 14px; 
    text-transform: uppercase; 
    float: left; 
    margin-right: 5px; 
    margin-bottom: 8px;
} 

.text-capitalize { 
    text-transform: capitalize !important;
} 

.barcode_site { 
    font-size: 14px; 
    display: block; 
    font-weight: bold;
} 

.barcode_name { 
    display: block;
} 

.barcode_price { 
    display: block;
} 

.d-flex { 
    display: -ms-flexbox !important; 
    display: flex !important;
} 

.justify-content-center { 
    -ms-flex-pack: center !important; 
    justify-content: center !important;
} 

.barcode_code { 
    display: block; 
    font-weight: bold;
} 

.barcode_image > div  { 
    margin-left: auto; 
    margin-right: auto;
} 

