@font-face { 
    font-family:the-icon-of;
    src:url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.eot?ww946b);
    src:url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.eot?ww946b#iefix) format("embedded-opentype"),url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.ttf?ww946b) format("truetype"),url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.woff?ww946b) format("woff"),url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.svg?ww946b#The-Icon-of) format("svg");
    font-weight:400;
    font-style:normal;
    font-display:block;
  }
  .container-fluid { 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px; 
      margin-right: auto; 
      margin-left: auto;
  } 
  
  .container-fluid { 
      padding-right: 2rem; 
      padding-left: 2rem;
  } 
  
  .content  { 
      padding-top: 1.75rem; 
      padding-bottom: 1.75rem;
  } 
  
  *,:after,:before { 
      box-sizing: border-box;
  } 
  
  :selection { 
      color: #fff; 
      background-color: #377dff;
  } 
  
  body ::-webkit-scrollbar { 
      width: 4px; 
      height: 6px;
  } 
  
  body ::-webkit-scrollbar-thumb { 
      background-color: darkgrey;
  } 
  
  body ::-webkit-scrollbar-track { 
      background: rgba(0,0,0,.14);
  } 
  
  .d-flex { 
      display: -ms-flexbox !important; 
      display: flex !important;
  } 
  
  .justify-content-between { 
      -ms-flex-pack: justify !important; 
      justify-content: space-between !important;
  } 
  
  .mb-3 { 
      margin-bottom: 1rem !important;
  } 
  
  .row { 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      margin-right: -15px; 
      margin-left: -15px;
  } 
  
  .text-start { 
      text-align: start;
  } 
  
  .col-md-12 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 768px){ 
    .col-md-12 { 
      -ms-flex: 0 0 100%; 
      flex: 0 0 100%; 
      max-width: 100%;
    } 
  }     
  
  h2 { 
      margin-top: 0; 
      margin-bottom: .5rem;
  } 
  
  h2 { 
      font-size: 1.3125rem;
  } 
  
  .h1,h2 { 
      margin-bottom: .5rem; 
      font-weight: 600; 
      line-height: 1.4; 
      color: #1e2022;
  } 
  
  .h1 { 
      font-size: 1.41094rem;
  } 
  
  .align-items-center { 
      -ms-flex-align: center !important; 
      align-items: center !important;
  } 
  
  .mb-1 { 
      margin-bottom: .25rem !important;
  } 
  
  .text-capitalize { 
      text-transform: capitalize !important;
  } 
  
  .h1,h2 { 
      color: #1e2022;
  } 
  
  .h1,h2 { 
      color: var(--title-color); 
      line-height: 1.2;
  } 
  
  .gap-2 { 
      gap: 8px;
  } 
  
  .h1 { 
      font-size: 20px;
  } 
  
  a { 
      color: #377dff; 
      text-decoration: none; 
      background-color: transparent;
  } 
  
  .btn { 
      display: inline-block; 
      font-weight: 400; 
      color: #677788; 
      text-align: center; 
      vertical-align: middle; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      background-color: transparent; 
      border: .0625rem solid transparent; 
      padding: .54688rem .875rem; 
      font-size: .875rem; 
      line-height: 1.6; 
      border-radius: .3125rem; 
      transition: all .2s ease-in-out;
  } 
  
  .text-white { 
      color: #fff !important;
  } 
  
  .btn { 
      position: relative;
  } 
  
  .btn--primary { 
      background-color: var(--c1); 
      color: #fff;
  } 
  
  .btn:not(:disabled):not(.disabled) { 
      cursor: pointer;
  } 
  
  a:hover { 
      color: #0052ea; 
      text-decoration: none;
  } 
  
  a:hover { 
      color: var(--c1);
  } 
  
  .btn:hover { 
      color: #677788; 
      text-decoration: none;
  } 
  
  .btn--primary:hover { 
      background-color: #04a3e7; 
      color: #fff;
  } 
  
  .card { 
      position: relative; 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-direction: column; 
      flex-direction: column; 
      min-width: 0; 
      word-wrap: break-word; 
      background-color: #fff; 
      background-clip: border-box; 
      border: .0625rem solid rgba(231, 234, 243, .7); 
      border-radius: .75rem;
  } 
  
  .card { 
      box-shadow: 0 6px 12px rgba(140, 152, 164, .075);
  } 
  
  .card { 
      border-color: #f4f4f4; 
      box-shadow: 0 5px 10px rgba(51,66,87,.05); 
      transition: all .3s ease;
  } 
  
  .card:hover { 
      box-shadow: 0 5px 24px rgba(7,59,116,.15);
  } 
  
  img { 
      vertical-align: middle; 
      border-style: none;
  } 
  
  img { 
      max-width: 100%;
  } 
  
  [class^="tio-"] { 
      font-family: the-icon-of!important; 
      font-size: 1.125em; 
      speak: none; 
      font-style: normal; 
      font-weight: 400; 
      font-variant: normal; 
      text-transform: none; 
      line-height: 1; 
      letter-spacing: 0; 
      -webkit-font-feature-settings: "liga"; 
      -moz-font-feature-settings: "liga"; 
      -ms-font-feature-settings: "liga" 1; 
      font-feature-settings: "liga"; 
      -webkit-font-variant-ligatures: discretionary-ligatures; 
      font-variant-ligatures: discretionary-ligatures; 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale;
  } 
  
  .tio-chevron-left:before { 
      content: "\e9b2";
  } 
  
  .card-body { 
      -ms-flex: 1 1 auto; 
      flex: 1 1 auto; 
      min-height: 1px; 
      padding: 1.3125rem;
  } 
  
  input { 
      margin: 0; 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  input { 
      overflow: visible;
  } 
  
  .g-3 { 
      margin-left: -.9375rem; 
      margin-right: -.9375rem;
  } 
  
  .g-3 { 
      margin-top: -1rem; 
      margin-bottom: -1rem;
  } 
  
  .col-md-6 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 768px){ 
    .col-md-6 { 
      -ms-flex: 0 0 50%; 
      flex: 0 0 50%; 
      max-width: 50%;
    } 
  }     
  
  .g-3 > *  { 
      padding-left: 1rem; 
      padding-right: 1rem;
  } 
  
  .g-3 > *  { 
      padding-top: 1rem; 
      padding-bottom: 1rem;
  } 
  
  .flex-column { 
      -ms-flex-direction: column !important; 
      flex-direction: column !important;
  } 
  
  .justify-content-center { 
      -ms-flex-pack: center !important; 
      justify-content: center !important;
  } 
  
  .justify-content-end { 
      -ms-flex-pack: end !important; 
      justify-content: flex-end !important;
  } 
  
  .gap-3 { 
      gap: 16px;
  } 
  
  .form-group { 
      margin-bottom: 1.5rem;
  } 
  
  .mb-0 { 
      margin-bottom: 0 !important;
  } 
  
  .d--block { 
      display: block;
  } 
  
  .d--none { 
      display: none;
  } 
  
  button { 
      border-radius: 0;
  } 
  
  button { 
      margin: 0; 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  button { 
      overflow: visible;
  } 
  
  button { 
      text-transform: none;
  } 
  
  [type="reset"],button { 
      -webkit-appearance: button;
  } 
  
  .btn-secondary { 
      color: #fff; 
      background-color: #71869d; 
      border-color: #71869d;
  } 
  
  .px-4 { 
      padding-right: 1.5rem !important;
  } 
  
  .px-4 { 
      padding-left: 1.5rem !important;
  } 
  
  .btn-secondary { 
      background-color: #f4f5f7; 
      border-color: #f4f5f7; 
      color: var(--title-color);
  } 
  
  [type="reset"]:not(:disabled),button:not(:disabled) { 
      cursor: pointer;
  } 
  
  .btn-secondary:hover { 
      color: #fff; 
      background-color: #5f7389; 
      border-color: #596d82;
  } 
  
  .btn-secondary:active,.btn-secondary:hover { 
      background-color: #ededed; 
      border-color: #ededed; 
      color: var(--title-color);
  } 
  
  [type="submit"],button { 
      -webkit-appearance: button;
  } 
  
  [type="submit"]:not(:disabled),button:not(:disabled) { 
      cursor: pointer;
  } 
  
  label { 
      display: inline-block; 
      margin-bottom: .5rem;
  } 
  
  label { 
      text-transform: capitalize;
  } 
  
  .title-color { 
      color: var(--title-color);
  } 
  
  select { 
      margin: 0; 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  select { 
      text-transform: none;
  } 
  
  select { 
      word-wrap: normal;
  } 
  
  select { 
      background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd; 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none; 
      padding-right: 26px!important; 
      background-size: 10px; 
      background-position: calc(100% - 8px);
  } 
  
  select { 
      background-image: url('https://6valley.6amtech.com/public/assets/back-end/img/arrow-down.png'); 
      background-size: 7px; 
      background-position: 96% center;
  } 
  
  .select2-hidden-accessible { 
      border: 0!important; 
      clip: rect(0 0 0 0)!important; 
      -webkit-clip-path: inset(50%)!important; 
      clip-path: inset(50%)!important; 
      height: 1px!important; 
      overflow: hidden!important; 
      padding: 0!important; 
      position: absolute!important; 
      width: 1px!important; 
      white-space: nowrap!important;
  } 
  
  .form-control { 
      display: block; 
      width: 100%; 
      height: calc(1.6em + 1.21875rem); 
      padding: .54688rem .875rem; 
      font-size: .875rem; 
      font-weight: 400; 
      line-height: 1.6; 
      color: #1e2022; 
      background-color: #fff; 
      background-clip: padding-box; 
      border: .0625rem solid #e7eaf3; 
      border-radius: .3125rem; 
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  } 
  
  .w-100 { 
      width: 100% !important;
  } 
  
  .form-control { 
      border-color: #d0dbe9;
  } 
  
  .select2-container { 
      box-sizing: border-box; 
      display: inline-block; 
      margin: 0; 
      position: relative; 
      vertical-align: middle;
  } 
  
  .select2-container { 
      max-width: 100%; 
      width: 100%!important;
  } 
  
  .banner_form .select2  { 
      width: 100%!important;
  } 
  
  .mx-auto { 
      margin-right: auto !important;
  } 
  
  .mx-auto { 
      margin-left: auto !important;
  } 
  
  .text-center { 
      text-align: center !important;
  } 
  
  .text-info { 
      color: #00c9db !important;
  } 
  
  .text-info { 
      color: #03b0c0!important;
  } 
  
  p { 
      margin-top: 0; 
      margin-bottom: 1rem;
  } 
  
  .input-label-secondary { 
      color: #8c98a4; 
      font-size: .8125rem; 
      margin-left: .25rem;
  } 
  
  .cursor-pointer { 
      cursor: pointer;
  } 
  
  .select2-selection { 
      width: 100%!important; 
      white-space: nowrap; 
      text-overflow: ellipsis; 
      overflow: hidden;
  } 
  
  .select2-container .select2-selection--single  { 
      box-sizing: border-box; 
      cursor: pointer; 
      display: block; 
      height: 28px; 
      user-select: none; 
      -webkit-user-select: none;
  } 
  
  .select2-container--default .select2-selection--single  { 
      display: block; 
      width: 100%; 
      height: calc(1.6em + 1.21875rem); 
      padding: 0.54688rem 0.875rem; 
      font-size: .875rem; 
      font-weight: 400; 
      line-height: 1.6; 
      color: #1e2022; 
      background-color: #fff; 
      background-clip: padding-box; 
      border: 0.0625rem solid #e7eaf3; 
      border-radius: 0.3125rem; 
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  } 
  
  .select2-container .select2-selection--single  { 
      display: flex!important; 
      align-items: center;
  } 
  
  .input_image_edit { 
      width: 100%; 
      height: auto; 
      background-position: center!important; 
      background-size: contain; 
      background-repeat: no-repeat;
  } 
  
  .bg-img { 
      background-size: cover; 
      background-repeat: no-repeat;
  } 
  
  .form-group.input_image { 
      background-repeat: no-repeat; 
      position: relative; 
      overflow: hidden;
  } 
  
  .form-group.input_image:before { 
      content: attr(data-title); 
      display: flex; 
      position: absolute; 
      top: 0; 
      right: 0; 
      left: 0; 
      bottom: 0; 
      background-size: cover; 
      background-position: center; 
      z-index: 0; 
      align-items: center; 
      justify-content: center; 
      text-align: center; 
      inset-inline-start: 0; 
      inline-size: 100%; 
      min-block-size: 100%; 
      line-height: 2em; 
      opacity: 1; 
      visibility: visible; 
      border: 1px dashed var(--c1); 
      transition: all .3s cubic-bezier(.25,.8,.25,1); 
      overflow: visible; 
      border-radius: 10px; 
      color: var(--c1);
  } 
  
  .m-1 { 
      margin: .25rem !important;
  } 
  
  .select2-selection__rendered { 
      width: 100%;
  } 
  
  .select2-container .select2-selection--single .select2-selection__rendered  { 
      display: block; 
      padding-left: 8px; 
      padding-right: 20px; 
      overflow: hidden; 
      text-overflow: ellipsis; 
      white-space: nowrap;
  } 
  
  .select2-container--default .select2-selection--single .select2-selection__rendered  { 
      color: #444;
  } 
  
  .select2-container--default .select2-selection--single .select2-selection__arrow  { 
      height: 26px; 
      position: absolute; 
      top: 8px; 
      right: 1px; 
      width: 20px;
  } 
  
  .select2-container--default .select2-selection--single .select2-selection__arrow  { 
      height: 42px!important; 
      top: 0!important;
  } 
  
  .form-control-file { 
      display: block; 
      width: 100%;
  } 
  
  .font-weight-bold { 
      font-weight: 600 !important;
  } 
  
  .text--primary { 
      color: var(--c1)!important;
  } 
  
  .inputDnD .form-control-file  { 
      position: relative; 
      inline-size: 100%; 
      block-size: 100%; 
      min-block-size: 8rem; 
      outline: none; 
      cursor: pointer; 
      border-radius: 10px; 
      opacity: 0;
  } 
  
  .form-group.input_image .form-control-file  { 
      cursor: pointer; 
      position: relative; 
      z-index: 1; 
      background-size: cover; 
      background-position: center;
  } 
  
  b { 
      font-weight: bolder;
  } 
  
  .select2-container--default .select2-selection--single .select2-selection__arrow b  { 
      border-color: #888 transparent transparent transparent; 
      border-style: solid; 
      border-width: 5px 4px 0 4px; 
      height: 0; 
      left: 50%; 
      margin-left: -4px; 
      margin-top: -2px; 
      position: absolute; 
      top: 50%; 
      width: 0;
  } 
  