/* 
.container-fluid { 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
} 

.container-fluid { 
    padding-right: 2rem; 
    padding-left: 2rem;
} 

.content  { 
    padding-top: 1.75rem; 
    padding-bottom: 1.75rem;
} 


:selection { 
    color: #fff; 
    background-color: #13c93a;
} 


.row { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    margin-right: -15px; 
    margin-left: -15px;
} 

h2 { 
    margin-top: 0; 
    margin-bottom: .5rem;
} 

h2 { 
    font-size: 1.3125rem;
} 

.h1,h2 { 
    margin-bottom: .5rem; 
    font-weight: 600; 
    line-height: 1.4; 
    color: #1e2022;
} 

.h1 { 
    font-size: 1.41094rem;
} 

.mb-0 { 
    margin-bottom: 0 !important;
} 

.h1,h2 { 
    color: #1e2022;
} 

.h1,h2 { 
    color: var(--title-color); 
    line-height: 1.2;
} 

.h1 { 
    font-size: 20px;
} 

.col-md-12 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 768px){ 
  .col-md-12 { 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%;
  } 
}     

img { 
    vertical-align: middle; 
    border-style: none;
} 

img { 
    max-width: 100%;
} 

.mr-1 { 
    margin-right: .25rem !important;
} 

.mb-1 { 
    margin-bottom: .25rem !important;
} 

.card { 
    position: relative; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    min-width: 0; 
    word-wrap: break-word; 
    background-color: #fff; 
    background-clip: border-box; 
    border: .0625rem solid rgba(231, 234, 243, .7); 
    border-radius: .75rem;
} 

.card { 
    box-shadow: 0 6px 12px rgba(140, 152, 164, .075);
} 

.card { 
    border-color: #f4f4f4; 
    box-shadow: 0 5px 10px rgba(51,66,87,.05); 
    transition: all .3s ease;
} 

.card:hover { 
    box-shadow: 0 5px 24px rgba(7,59,116,.15);
} 

.card-body { 
    -ms-flex: 1 1 auto; 
    flex: 1 1 auto; 
    min-height: 1px; 
    padding: 1.3125rem;
} 

.text-start { 
    text-align: start;
} 

input { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

input { 
    overflow: visible;
} 

ul { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

.nav { 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    padding-left: 0; 
    margin-bottom: 0; 
    list-style: none;
} 

.nav-tabs { 
    border-bottom: .0625rem solid #e7eaf3;
} 

.mb-4 { 
    margin-bottom: 1.5rem !important;
} 

.w-fit-content { 
    width: -webkit-fit-content; 
    width: -moz-fit-content; 
    width: fit-content;
} 

.justify-content-end { 
    -ms-flex-pack: end !important; 
    justify-content: flex-end !important;
} 

.gap-3 { 
    gap: 16px;
} 

.text-capitalize { 
    text-transform: capitalize !important;
} 

.nav-tabs .nav-item  { 
    margin-bottom: -.0625rem;
} 

.col-lg-6 { 
    position: relative; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px;
} 

@media (min-width: 992px){ 
  .col-lg-6 { 
    -ms-flex: 0 0 50%; 
    flex: 0 0 50%; 
    max-width: 50%;
  } 
}     

.mt-5 { 
    margin-top: 2rem !important;
} 

@media (min-width: 992px){ 
  .mt-lg-0 { 
    margin-top: 0 !important;
  } 
}     

button { 
    border-radius: 0;
} 

button { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

button { 
    overflow: visible;
} 

button { 
    text-transform: none;
} 

[type="reset"],button { 
    -webkit-appearance: button;
} 

.btn { 
    display: inline-block; 
    font-weight: 400; 
    color: #677788; 
    text-align: center; 
    vertical-align: middle; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    background-color: transparent; 
    border: .0625rem solid transparent; 
    padding: .54688rem .875rem; 
    font-size: .875rem; 
    line-height: 1.6; 
    border-radius: .3125rem; 
    transition: all .2s ease-in-out;
} 

.btn-secondary { 
    color: #fff; 
    background-color: #71869d; 
    border-color: #71869d;
} 

.px-4 { 
    padding-right: 1.5rem !important;
} 

.px-4 { 
    padding-left: 1.5rem !important;
} 

.btn { 
    position: relative;
} 

.btn-secondary { 
    background-color: #f4f5f7; 
    border-color: #f4f5f7; 
    color: var(--title-color);
} 

[type="reset"]:not(:disabled),button:not(:disabled) { 
    cursor: pointer;
} 

.btn:not(:disabled):not(.disabled) { 
    cursor: pointer;
} 

.btn:hover { 
    color: #677788; 
    text-decoration: none;
} 

.btn-secondary:hover { 
    color: #fff; 
    background-color: #13ad34; 
    border-color: #1cb349;
} 

.btn-secondary:active,.btn-secondary:hover { 
    background-color: #ededed; 
    border-color: #0caf35; 
    color: var(--title-color);
} 

[type="submit"],button { 
    -webkit-appearance: button;
} 

.btn--primary { 
    background-color: var(--c1); 
    color: #fff;
} 

[type="submit"]:not(:disabled),button:not(:disabled) { 
    cursor: pointer;
} 

.btn--primary:hover { 
    background-color: #1acc32; 
    color: #fff;
} 

.nav-link { 
    display: block; 
    padding: .75rem .75rem;
} 

.nav-link { 
    color: #16be1f;
} 

.cursor-pointer { 
    cursor: pointer;
} 

.nav-tabs .nav-link  { 
    border: .0625rem solid transparent; 
    border-top-left-radius: .3125rem; 
    border-top-right-radius: .3125rem;
} 

.nav-link.active { 
    color: #66ff37;
} 

.nav-tabs .nav-link  { 
    border-bottom-width: .0625rem; 
    border-left-width: 0; 
    border-right-width: 0; 
    border-top-width: 0; 
    padding: 1rem 1rem; 
    margin-bottom: 0;
} 

.nav-tabs .nav-link.active  { 
    color: #377dff; 
    background-color: transparent; 
    border-color: transparent transparent #37ff41;
} 

.nav-tabs .nav-link.active  { 
    border-bottom-width: .2rem; 
    margin-bottom: -.1rem;
} 

.nav-tabs .nav-link.active  { 
    color: var(--c1); 
    border-color: transparent transparent var(--c1);
} 

.nav-tabs .nav-link.active  { 
    font-weight: 700;
} 

.nav-link:hover { 
    text-decoration: none;
} 

.nav-link:hover { 
    color: #0052ea;
} 

.nav-link:hover { 
    color: var(--c1);
} 

 .nav-tabs .nav-link:hover { 
    border-color: transparent;
} 

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover { 
    border-color: transparent;
} 

.form-group { 
    margin-bottom: 1.5rem;
} 

.d-none { 
    display: none !important;
} 

label { 
    display: inline-block; 
    margin-bottom: .5rem;
} 

label { 
    text-transform: capitalize;
} 

.title-color { 
    color: var(--title-color);
} 

select { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

select { 
    text-transform: none;
} 

select { 
    word-wrap: normal;
} 

select { 
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    padding-right: 26px!important; 
    background-size: 10px; 
    background-position: calc(100% - 8px);
} 

select { 
    background-image: url('https://6valley.6amtech.com/public/assets/back-end/img/arrow-down.png'); 
    background-size: 7px; 
    background-position: 96% center;
} 

.form-control { 
    display: block; 
    width: 100%; 
    height: calc(1.6em + 1.21875rem); 
    padding: .54688rem .875rem; 
    font-size: .875rem; 
    font-weight: 400; 
    line-height: 1.6; 
    color: #1e2022; 
    background-color: #fff; 
    background-clip: padding-box; 
    border: .0625rem solid #e7eaf3; 
    border-radius: .3125rem; 
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
} 

.form-control { 
    border-color: #d1e9d0;
} 

.text-info { 
    color: #00db00 !important;
} 

.text-info { 
    color: #14c72c!important;
} 

.custom-file { 
    position: relative; 
    display: inline-block; 
    width: 100%; 
    height: calc(1.6em + 1.21875rem); 
    margin-bottom: 0;
} 

.text-left { 
    text-align: left !important;
} 

.text-left { 
    text-align: left;
} 

.custom-file { 
    cursor: pointer;
} 

.mx-auto { 
    margin-right: auto !important;
} 

.mx-auto { 
    margin-left: auto !important;
} 

.text-center { 
    text-align: center !important;
} 

.custom-file-input { 
    position: relative; 
    z-index: 2; 
    width: 100%; 
    height: calc(1.6em + 1.21875rem); 
    margin: 0; 
    opacity: 0;
} 

.custom-file-label { 
    position: absolute; 
    top: 0; 
    right: 0; 
    left: 0; 
    z-index: 1; 
    height: calc(1.6em + 1.21875rem); 
    padding: .54688rem .875rem; 
    font-weight: 400; 
    line-height: 1.6; 
    color: #1e2022; 
    background-color: #fff; 
    border: .0625rem solid #e7eaf3; 
    border-radius: .3125rem;
} 

.custom-file-label { 
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
} 

.custom-file-label:after { 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 3; 
    display: block; 
    height: calc(1.6em + 1.09375rem); 
    padding: .54688rem .875rem; 
    line-height: 1.6; 
    color: #1e2022; 
    content: "Browse"; 
    background-color: transparent; 
    border-left: inherit; 
    border-radius: 0 .3125rem .3125rem 0;
} 

.custom-file-input:lang(en) ~ .custom-file-label::after { 
    content: "Browse";
} 

.upload-img-view { 
    block-size: 162px; 
    inline-size: 162px; 
    max-inline-size: 162px; 
    border-radius: 5px; 
    border: .5px solid #99a7ba; 
    aspect-ratio: 1/1; 
    -o-object-fit: cover; 
    object-fit: cover;
} 

 */
