@font-face { 
    font-family:the-icon-of;
    src:url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.eot?ww946b);
    src:url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.eot?ww946b#iefix) format("embedded-opentype"),url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.ttf?ww946b) format("truetype"),url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.woff?ww946b) format("woff"),url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.svg?ww946b#The-Icon-of) format("svg");
    font-weight:400;
    font-style:normal;
    font-display:block;
  } 

  .container-fluid { 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px; 
      margin-right: auto; 
      margin-left: auto;
  } 
  
  .container-fluid { 
      padding-right: 2rem; 
      padding-left: 2rem;
  } 
  
  .content  { 
      padding-top: 1.75rem; 
      padding-bottom: 1.75rem;
  } 
  *,:after,:before { 
      box-sizing: border-box;
  } 
  
  :selection { 
      color: #fff; 
      background-color: #377dff;
  } 
  
  body ::-webkit-scrollbar { 
      width: 4px; 
      height: 4px;
  } 
  
  body ::-webkit-scrollbar-thumb { 
      background-color: darkgrey;
  } 
  
  body ::-webkit-scrollbar-track { 
      background: rgba(0,0,0,.14);
  } 
  
  .d-flex { 
      display: -ms-flexbox !important; 
      display: flex !important;
  } 
  
  .flex-wrap { 
      -ms-flex-wrap: wrap !important; 
      flex-wrap: wrap !important;
  } 
  
  .align-items-center { 
      -ms-flex-align: center !important; 
      align-items: center !important;
  } 
  
  .mb-3 { 
      margin-bottom: 1rem !important;
  } 
  
  .gap-2 { 
      gap: 8px;
  } 
  
  .row { 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      margin-right: -15px; 
      margin-left: -15px;
  } 
  
  .g-3 { 
      margin-left: -.9375rem; 
      margin-right: -.9375rem;
  } 
  
  .g-3 { 
      margin-top: -1rem; 
      margin-bottom: -1rem;
  } 
  
  h2 { 
      margin-top: 0; 
      margin-bottom: .5rem;
  } 
  
  h2 { 
      font-size: 1.3125rem;
  } 
  
  .h1,h2 { 
      margin-bottom: .5rem; 
      font-weight: 600; 
      line-height: 1.4; 
      color: #1e2022;
  } 
  
  .h1 { 
      font-size: 1.41094rem;
  } 
  
  .mb-0 { 
      margin-bottom: 0 !important;
  } 
  
  .h1,h2 { 
      color: #1e2022;
  } 
  
  .h1,h2 { 
      color: var(--title-color); 
      line-height: 1.2;
  } 
  
  .h1 { 
      font-size: 20px;
  } 
  
  .col-md-12 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 768px){ 
    .col-md-12 { 
      -ms-flex: 0 0 100%; 
      flex: 0 0 100%; 
      max-width: 100%;
    } 
  }     
  
  .g-3 > *  { 
      padding-left: 1rem; 
      padding-right: 1rem;
  } 
  
  .g-3 > *  { 
      padding-top: 1rem; 
      padding-bottom: 1rem;
  } 
  
  img { 
      vertical-align: middle; 
      border-style: none;
  } 
  
  img { 
      max-width: 100%;
  } 
  
  .card { 
      position: relative; 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-direction: column; 
      flex-direction: column; 
      min-width: 0; 
      word-wrap: break-word; 
      background-color: #fff; 
      background-clip: border-box; 
      border: .0625rem solid rgba(231, 234, 243, .7); 
      border-radius: .75rem;
  } 
  
  .card { 
      box-shadow: 0 6px 12px rgba(140, 152, 164, .075);
  } 
  
  .card { 
      border-color: #f4f4f4; 
      box-shadow: 0 5px 10px rgba(51,66,87,.05); 
      transition: all .3s ease;
  } 
  
  .card:hover { 
      box-shadow: 0 5px 24px rgba(7,59,116,.15);
  } 
  
  .card-body { 
      -ms-flex: 1 1 auto; 
      flex: 1 1 auto; 
      min-height: 1px; 
      padding: 1.3125rem;
  } 
  
  .text-start { 
      text-align: start;
  } 
  
  input { 
      margin: 0; 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  input { 
      overflow: visible;
  } 
  
  ul { 
      margin-top: 0; 
      margin-bottom: 1rem;
  } 
  
  .nav { 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      padding-left: 0; 
      margin-bottom: 0; 
      list-style: none;
  } 
  
  .nav-tabs { 
      border-bottom: .0625rem solid #e7eaf3;
  } 
  
  .mb-4 { 
      margin-bottom: 1.5rem !important;
  } 
  
  .w-fit-content { 
      width: -webkit-fit-content; 
      width: -moz-fit-content; 
      width: fit-content;
  } 
  
  .shadow-none { 
      box-shadow: none !important;
  } 
  
  .justify-content-end { 
      -ms-flex-pack: end !important; 
      justify-content: flex-end !important;
  } 
  
  .gap-3 { 
      gap: 16px;
  } 
  
  .nav-tabs .nav-item  { 
      margin-bottom: -.0625rem;
  } 
  
  .col-md-6 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 768px){ 
    .col-md-6 { 
      -ms-flex: 0 0 50%; 
      flex: 0 0 50%; 
      max-width: 50%;
    } 
  }     
  
  .py-5 { 
      padding-top: 2rem !important;
  } 
  
  .py-5 { 
      padding-bottom: 2rem !important;
  } 
  
  button { 
      border-radius: 0;
  } 
  
  button { 
      margin: 0; 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  button { 
      overflow: visible;
  } 
  
  button { 
      text-transform: none;
  } 
  
  [type="reset"],button { 
      -webkit-appearance: button;
  } 
  
  .btn { 
      display: inline-block; 
      font-weight: 400; 
      color: #677788; 
      text-align: center; 
      vertical-align: middle; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      background-color: transparent; 
      border: .0625rem solid transparent; 
      padding: .54688rem .875rem; 
      font-size: .875rem; 
      line-height: 1.6; 
      border-radius: .3125rem; 
      transition: all .2s ease-in-out;
  } 
  
  .btn-secondary { 
      color: #fff; 
      background-color: #71869d; 
      border-color: #71869d;
  } 
  
  .px-4 { 
      padding-right: 1.5rem !important;
  } 
  
  .px-4 { 
      padding-left: 1.5rem !important;
  } 
  
  .btn { 
      position: relative;
  } 
  
  .btn-secondary { 
      background-color: #f4f5f7; 
      border-color: #f4f5f7; 
      color: var(--title-color);
  } 
  
  [type="reset"]:not(:disabled),button:not(:disabled) { 
      cursor: pointer;
  } 
  
  .btn:not(:disabled):not(.disabled) { 
      cursor: pointer;
  } 
  
  .btn:hover { 
      color: #677788; 
      text-decoration: none;
  } 
  
  .btn-secondary:hover { 
      color: #fff; 
      background-color: #5f7389; 
      border-color: #596d82;
  } 
  
  .btn-secondary:active,.btn-secondary:hover { 
      background-color: #ededed; 
      border-color: #ededed; 
      color: var(--title-color);
  } 
  
  [type="submit"],button { 
      -webkit-appearance: button;
  } 
  
  .btn--primary { 
      background-color: var(--c1); 
      color: #fff;
  } 
  
  [type="submit"]:not(:disabled),button:not(:disabled) { 
      cursor: pointer;
  } 
  
  .btn--primary:hover { 
      background-color: #04a3e7; 
      color: #fff;
  } 
  
  .nav-link { 
      display: block; 
      padding: .75rem .75rem;
  } 
  
  .nav-link { 
      color: #677788;
  } 
  
  .cursor-pointer { 
      cursor: pointer;
  } 
  
  .nav-tabs .nav-link  { 
      border: .0625rem solid transparent; 
      border-top-left-radius: .3125rem; 
      border-top-right-radius: .3125rem;
  } 
  
  .nav-link.active { 
      color: #377dff;
  } 
  
  .nav-tabs .nav-link  { 
      border-bottom-width: .0625rem; 
      border-left-width: 0; 
      border-right-width: 0; 
      border-top-width: 0; 
      padding: 1rem 1rem; 
      margin-bottom: 0;
  } 
  
  .nav-tabs .nav-link.active  { 
      color: #377dff; 
      background-color: transparent; 
      border-color: transparent transparent #377dff;
  } 
  
  .nav-tabs .nav-link.active  { 
      border-bottom-width: .2rem; 
      margin-bottom: -.1rem;
  } 
  
  .nav-tabs .nav-link.active  { 
      color: var(--c1); 
      border-color: transparent transparent var(--c1);
  } 
  
  .nav-tabs .nav-link.active  { 
      font-weight: 700;
  } 
  
  .nav-link:hover { 
      text-decoration: none;
  } 
  
  .nav-link:hover { 
      color: #0052ea;
  } 
  
  .nav-link:hover { 
      color: var(--c1);
  } 
  
   .nav-tabs .nav-link:hover { 
      border-color: transparent;
  } 
  
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover { 
      border-color: transparent;
  } 
  
  .form-group { 
      margin-bottom: 1.5rem;
  } 
  
  .d-none { 
      display: none !important;
  } 
  
  .mx-auto { 
      margin-right: auto !important;
  } 
  
  .mx-auto { 
      margin-left: auto !important;
  } 
  
  .text-center { 
      text-align: center !important;
  } 
  
  .max-w-170px { 
      max-width: 170px;
  } 
  
  label { 
      display: inline-block; 
      margin-bottom: .5rem;
  } 
  
  label { 
      text-transform: capitalize;
  } 
  
  .title-color { 
      color: var(--title-color);
  } 
  
  .form-control { 
      display: block; 
      width: 100%; 
      height: calc(1.6em + 1.21875rem); 
      padding: .54688rem .875rem; 
      font-size: .875rem; 
      font-weight: 400; 
      line-height: 1.6; 
      color: #1e2022; 
      background-color: #fff; 
      background-clip: padding-box; 
      border: .0625rem solid #e7eaf3; 
      border-radius: .3125rem; 
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  } 
  
  .form-control { 
      border-color: #d0dbe9;
  } 
  
  .text-capitalize { 
      text-transform: capitalize !important;
  } 
  
  .d-block { 
      display: block !important;
  } 
  
  .font-weight-bold { 
      font-weight: 600 !important;
  } 
  
  .mx-2 { 
      margin-right: .5rem !important;
  } 
  
  .mx-2 { 
      margin-left: .5rem !important;
  } 
  
  .custom_upload_input { 
      position: relative;
  } 
  
  p { 
      margin-top: 0; 
      margin-bottom: 1rem;
  } 
  
  .m-0 { 
      margin: 0 !important;
  } 
  
  .mt-2 { 
      margin-top: .5rem !important;
  } 
  
  .text-muted { 
      color: #8c98a4 !important;
  } 
  
  .fz-12 { 
      font-size: 12px!important;
  } 
  
  .text-danger { 
      color: #ed4c78 !important;
  } 
  
  small { 
      font-size: 80%;
  } 
  
  small { 
      font-size: 80%; 
      font-weight: 400;
  } 
  
  .custom_upload_input input[type="file"]  { 
      display: block; 
      width: 100%; 
      padding: 0; 
      aspect-ratio: 1; 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none; 
      background-color: #f7f7f7; 
      border: 0; 
      border-radius: 5px; 
      opacity: 0; 
      z-index: 9; 
      position: relative; 
      cursor: pointer;
  } 
  
  .btn-outline-danger { 
      color: #ed4c78; 
      border-color: #ed4c78;
  } 
  
  .btn-sm { 
      padding: .4375rem .65625rem; 
      font-size: .8125rem; 
      line-height: 0.5; 
      border-radius: .25rem;
  } 
  
  .d--none { 
      display: none;
  } 
  
  .square-btn { 
      width: 30px; 
      height: 30px; 
      padding: 3px; 
      display: grid; 
      place-items: center;
  } 
  
  .custom_upload_input .delete_file_input  { 
      content: ""; 
      position: absolute; 
      top: 20px; 
      right: 20px; 
      width: 30px; 
      height: 30px; 
      font-size: 15px; 
      justify-content: center; 
      align-items: center; 
      display: none; 
      cursor: pointer; 
      color: red; 
      border: 1px solid red; 
      z-index: 10;
  } 
  
  .btn-outline-danger:hover { 
      color: #fff; 
      background-color: #ed4c78; 
      border-color: #ed4c78;
  } 
  
  .custom_upload_input .delete_file_input:hover { 
      color: #fff; 
      border: 1px solid red; 
      z-index: 10;
  } 
  
  .position-absolute { 
      position: absolute !important;
  } 
  
  .p-0 { 
      padding: 0 !important;
  } 
  
  .img_area_with_preview { 
      position: absolute; 
      top: 0; 
      bottom: 0; 
      left: 0; 
      height: 100%; 
      width: 100%; 
      overflow: hidden; 
      border: 2px dashed #00000014; 
      border-radius: 5px; 
      padding: 5px;
  } 
  
  .z-index-2 { 
      z-index: 2;
  } 
  
  [class^="tio-"] { 
      font-family: the-icon-of!important; 
      font-size: 1.125em; 
      speak: none; 
      font-style: normal; 
      font-weight: 400; 
      font-variant: normal; 
      text-transform: none; 
      line-height: 1; 
      letter-spacing: 0; 
      -webkit-font-feature-settings: "liga"; 
      -moz-font-feature-settings: "liga"; 
      -ms-font-feature-settings: "liga" 1; 
      font-feature-settings: "liga"; 
      -webkit-font-variant-ligatures: discretionary-ligatures; 
      font-variant-ligatures: discretionary-ligatures; 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale;
  } 
  
  .tio-delete:before { 
      content: "\ed22";
  } 
  
  .bg-white { 
      background-color: #fff !important;
  } 
  
  .h-auto { 
      height: auto !important;
  } 
  
  .aspect-1 { 
      aspect-ratio: 1; 
      -o-object-fit: cover; 
      object-fit: cover;
  } 
  
  .img_area_with_preview img  { 
      width: 100%; 
      object-fit: cover; 
      height: 100%;
  } 
  
  .flex-column { 
      -ms-flex-direction: column !important; 
      flex-direction: column !important;
  } 
  
  .justify-content-center { 
      -ms-flex-pack: center !important; 
      justify-content: center !important;
  } 
  
  h3 { 
      margin-top: 0; 
      margin-bottom: .5rem;
  } 
  
  h3 { 
      margin-bottom: .5rem; 
      font-weight: 600; 
      line-height: 1.4; 
      color: #1e2022;
  } 
  
  h3 { 
      font-size: 1.14844rem;
  } 
  
  h3 { 
      color: #1e2022;
  } 
  
  h3 { 
      color: var(--title-color); 
      line-height: 1.2;
  } 
  
  
  