@font-face { 
    font-family:the-icon-of;
    src:url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.eot?ww946b);
    src:url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.eot?ww946b#iefix) format("embedded-opentype"),url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.ttf?ww946b) format("truetype"),url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.woff?ww946b) format("woff"),url(https://6valley.6amtech.com/public/assets/back-end/vendor/icon-set/fonts/The-Icon-of9a76.svg?ww946b#The-Icon-of) format("svg");
    font-weight:400;
    font-style:normal;
    font-display:block;
  } 
 
  .container-fluid { 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px; 
      margin-right: auto; 
      margin-left: auto;
  } 
  
  .container-fluid { 
      padding-right: 2rem; 
      padding-left: 2rem;
  } 
  
  .text-start { 
      text-align: start;
  } 
  
  .content  { 
      padding-top: 1.75rem; 
      padding-bottom: 1.75rem;
  } 
  
  *,:after,:before { 
      box-sizing: border-box;
  } 
  
  :selection { 
      color: #fff; 
      background-color: #377dff;
  } 
  
  body ::-webkit-scrollbar { 
      width: 4px; 
      height: 6px;
  } 
  
  body ::-webkit-scrollbar-thumb { 
      background-color: darkgrey;
  } 
  
  body ::-webkit-scrollbar-track { 
      background: rgba(0,0,0,.14);
  } 
  
  .d-flex { 
      display: -ms-flexbox !important; 
      display: flex !important;
  } 
  
  .flex-wrap { 
      -ms-flex-wrap: wrap !important; 
      flex-wrap: wrap !important;
  } 
  
  .justify-content-between { 
      -ms-flex-pack: justify !important; 
      justify-content: space-between !important;
  } 
  
  .align-items-center { 
      -ms-flex-align: center !important; 
      align-items: center !important;
  } 
  
  .mb-3 { 
      margin-bottom: 1rem !important;
  } 
  
  .gap-10 { 
      gap: 10px;
  } 
  
  .card { 
      position: relative; 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-direction: column; 
      flex-direction: column; 
      min-width: 0; 
      word-wrap: break-word; 
      background-color: #fff; 
      background-clip: border-box; 
      border: .0625rem solid rgba(231, 234, 243, .7); 
      border-radius: .75rem;
  } 
  
  .card { 
      box-shadow: 0 6px 12px rgba(140, 152, 164, .075);
  } 
  
  .card { 
      border-color: #f4f4f4; 
      box-shadow: 0 5px 10px rgba(51,66,87,.05); 
      transition: all .3s ease;
  } 
  
  .card-top-bg-element { 
      position: relative; 
      z-index: 1;
  } 
  
  .card-top-bg-element:after { 
      position: absolute; 
      z-index: -1; 
      background-color: rgba(233,243,255,.3); 
      top: 0; 
      left: 0; 
      content: ""; 
      width: 100%; 
      height: 75px;
  } 
  
  .card:hover { 
      box-shadow: 0 5px 24px rgba(7,59,116,.15);
  } 
  
  .row { 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      margin-right: -15px; 
      margin-left: -15px;
  } 
  
  .mt-3 { 
      margin-top: 1rem !important;
  } 
  
  .g-2 { 
      margin-left: -.4375rem; 
      margin-right: -.4375rem;
  } 
  
  .g-2 { 
      margin-top: -.5rem; 
      margin-bottom: -.5rem;
  } 
  
  .card-body { 
      -ms-flex: 1 1 auto; 
      flex: 1 1 auto; 
      min-height: 1px; 
      padding: 1.3125rem;
  } 
  
  .col-md-6 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 768px){ 
    .col-md-6 { 
      -ms-flex: 0 0 50%; 
      flex: 0 0 50%; 
      max-width: 50%;
    } 
  }     
  
  .g-2 > *  { 
      padding-left: .5rem; 
      padding-right: .5rem;
  } 
  
  .g-2 > *  { 
      padding-top: .5rem; 
      padding-bottom: .5rem;
  } 
  
  .table-responsive { 
      display: block; 
      width: 100%; 
      overflow-x: auto; 
      -webkit-overflow-scrolling: touch;
  } 
  
  .table-responsive { 
      max-height: calc(80vh - 160px); 
      overflow: auto;
  } 
  
  .mt-4 { 
      margin-top: 1.5rem !important;
  } 
  
  .p-4 { 
      padding: 1.5rem !important;
  } 
  
  .text-center { 
      text-align: center !important;
  } 
  
  h2 { 
      margin-top: 0; 
      margin-bottom: .5rem;
  } 
  
  h2 { 
      font-size: 1.3125rem;
  } 
  
  .h1,h2 { 
      margin-bottom: .5rem; 
      font-weight: 600; 
      line-height: 1.4; 
      color: #1e2022;
  } 
  
  .h1 { 
      font-size: 1.41094rem;
  } 
  
  .mb-0 { 
      margin-bottom: 0 !important;
  } 
  
  .text-capitalize { 
      text-transform: capitalize !important;
  } 
  
  .h1,h2 { 
      color: #1e2022;
  } 
  
  .h1,h2 { 
      color: var(--title-color); 
      line-height: 1.2;
  } 
  
  .gap-2 { 
      gap: 8px;
  } 
  
  .h1 { 
      font-size: 20px;
  } 
  
  hr { 
      box-sizing: content-box; 
      height: 0; 
      overflow: visible;
  } 
  
  hr { 
      margin-top: 1rem; 
      margin-bottom: 1rem; 
      border: 0; 
      border-top: .0625rem solid #e7eaf3;
  } 
  
  .gap-3 { 
      gap: 16px;
  } 
  
  .h-100 { 
      height: 100% !important;
  } 
  
  table { 
      border-collapse: collapse;
  } 
  
  .table { 
      width: 100%; 
      margin-bottom: 1rem; 
      color: #677788;
  } 
  
  .w-100 { 
      width: 100% !important;
  } 
  
  .card-table { 
      margin-bottom: 0;
  } 
  
  .table { 
      color: var(--title-color);
  } 
  
  @media (min-width: 992px){ 
    .justify-content-lg-end { 
      -ms-flex-pack: end !important; 
      justify-content: flex-end !important;
    } 
  }     
  
  .px-4 { 
      padding-right: 1.5rem !important;
  } 
  
  .px-4 { 
      padding-left: 1.5rem !important;
  } 
  
  img { 
      vertical-align: middle; 
      border-style: none;
  } 
  
  img { 
      max-width: 100%;
  } 
  
  .w-160 { 
      width: 160px;
  } 
  
  p { 
      margin-top: 0; 
      margin-bottom: 1rem;
  } 
  
  .media { 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-align: start; 
      align-items: flex-start;
  } 
  
  .flex-column { 
      -ms-flex-direction: column !important; 
      flex-direction: column !important;
  } 
  
  .flex-nowrap { 
      -ms-flex-wrap: nowrap !important; 
      flex-wrap: nowrap !important;
  } 
  
  .flex-grow-1 { 
      -ms-flex-positive: 1 !important; 
      flex-grow: 1 !important;
  } 
  
  @media (min-width: 576px){ 
    .flex-sm-row { 
      -ms-flex-direction: row !important; 
      flex-direction: row !important;
    } 
  }     
  
  .flex-grow-1 { 
      flex-grow: 1;
  } 
  
  .border { 
      border: .0625rem solid #e7eaf3 !important;
  } 
  
  .p-3 { 
      padding: 1rem !important;
  } 
  
  .w-170 { 
      width: 170px;
  } 
  
  .gy-3 { 
      margin-top: -1rem; 
      margin-bottom: -1rem;
  } 
  
  .card-header { 
      padding: 1.3125rem 1.3125rem; 
      margin-bottom: 0; 
      background-color: #fff; 
      border-bottom: .0625rem solid rgba(231, 234, 243, .7);
  } 
  
  .card-header { 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-direction: row; 
      flex-direction: row; 
      -ms-flex-align: center; 
      align-items: center; 
      -ms-flex-pack: justify; 
      justify-content: space-between; 
      padding-top: 1rem; 
      padding-bottom: 1rem;
  } 
  
  .card-header { 
      border-bottom: 1px solid #f4f4f4; 
      box-shadow: 0 3px 3px rgba(51,66,87,.05);
  } 
  
  .bg--primary--light { 
      color: var(--title-color); 
      background-color: #f7faff; 
      border-color: rgba(1,119,205,.1);
  } 
  
  .card-header:first-child { 
      border-radius: .6875rem .6875rem 0 0;
  } 
  
  .table-responsive thead  { 
      position: sticky; 
      top: 0; 
      z-index: 1;
  } 
  
  .table .thead-50  { 
      block-size: 50px;
  } 
  
  .__min-w-165px { 
      min-width: 165px!important;
  } 
  
  a { 
      color: #377dff; 
      text-decoration: none; 
      background-color: transparent;
  } 
  
  .btn { 
      display: inline-block; 
      font-weight: 400; 
      color: #677788; 
      text-align: center; 
      vertical-align: middle; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      background-color: transparent; 
      border: .0625rem solid transparent; 
      padding: .54688rem .875rem; 
      font-size: .875rem; 
      line-height: 1.6; 
      border-radius: .3125rem; 
      transition: all .2s ease-in-out;
  } 
  
  .mr-1 { 
      margin-right: .25rem !important;
  } 
  
  .btn { 
      position: relative;
  } 
  
  .btn-outline--primary { 
      color: var(--c1); 
      border-color: var(--c1);
  } 
  
  .btn:not(:disabled):not(.disabled) { 
      cursor: pointer;
  } 
  
  a:hover { 
      color: #0052ea; 
      text-decoration: none;
  } 
  
  a:hover { 
      color: var(--c1);
  } 
  
  .btn:hover { 
      color: #677788; 
      text-decoration: none;
  } 
  
  .btn-outline--primary:hover { 
      background-color: var(--c1); 
      color: #fff;
  } 
  
  .d-block { 
      display: block !important;
  } 
  
  .mb-1 { 
      margin-bottom: .25rem !important;
  } 
  
  .col-sm-6,.col-xl-4 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 576px){ 
    .col-sm-6 { 
      -ms-flex: 0 0 50%; 
      flex: 0 0 50%; 
      max-width: 50%;
    } 
  }     
  
  @media (min-width: 1200px){ 
    .col-xl-4 { 
      -ms-flex: 0 0 33.33333%; 
      flex: 0 0 33.33333%; 
      max-width: 33.33333%;
    } 
  }     
  
  .gy-3 > *  { 
      padding-top: 1rem; 
      padding-bottom: 1rem;
  } 
  
  h5 { 
      margin-top: 0; 
      margin-bottom: .5rem;
  } 
  
  h5 { 
      margin-bottom: .5rem; 
      font-weight: 600; 
      line-height: 1.4; 
      color: #1e2022;
  } 
  
  h5 { 
      font-size: .875rem;
  } 
  
  h5 { 
      color: #1e2022;
  } 
  
  h5 { 
      color: var(--title-color); 
      line-height: 1.2;
  } 
  
  .card-title { 
      margin-bottom: 1.3125rem;
  } 
  
  .card-title { 
      display: block; 
      color: #1e2022; 
      margin-bottom: 0;
  } 
  
  .text-primary { 
      color: #377dff !important;
  } 
  
  a.text-primary:hover { 
      color: #0052ea !important;
  } 
  
  .float-left { 
      float: left !important;
  } 
  
  .overflow-hidden { 
      overflow: hidden !important;
  } 
  
  .aspect-1 { 
      aspect-ratio: 1; 
      -o-object-fit: cover; 
      object-fit: cover;
  } 
  
  .mt-2 { 
      margin-top: .5rem !important;
  } 
  
  [class^="tio-"] { 
      font-family: the-icon-of!important; 
      font-size: 1.125em; 
      speak: none; 
      font-style: normal; 
      font-weight: 400; 
      font-variant: normal; 
      text-transform: none; 
      line-height: 1; 
      letter-spacing: 0; 
      -webkit-font-feature-settings: "liga"; 
      -moz-font-feature-settings: "liga"; 
      -ms-font-feature-settings: "liga" 1; 
      font-feature-settings: "liga"; 
      -webkit-font-variant-ligatures: discretionary-ligatures; 
      font-variant-ligatures: discretionary-ligatures; 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale;
  } 
  
  .tio-download:before { 
      content: "\ed25";
  } 
  
  @media (min-width: 576px){ 
    .flex-sm-nowrap { 
      -ms-flex-wrap: nowrap !important; 
      flex-wrap: nowrap !important;
    } 
  }     
  
  .min-h-50 { 
      min-height: 50px!important;
  } 
  
  h6 { 
      margin-top: 0; 
      margin-bottom: .5rem;
  } 
  
  h6 { 
      margin-bottom: .5rem; 
      font-weight: 600; 
      line-height: 1.4; 
      color: #1e2022;
  } 
  
  h6 { 
      font-size: .76562rem;
  } 
  
  h6 { 
      color: #1e2022;
  } 
  
  h6 { 
      color: var(--title-color); 
      line-height: 1.2;
  } 
  
  .font-weight-normal { 
      font-weight: 400 !important;
  } 
  
  h3 { 
      margin-top: 0; 
      margin-bottom: .5rem;
  } 
  
  h3 { 
      margin-bottom: .5rem; 
      font-weight: 600; 
      line-height: 1.4; 
      color: #1e2022;
  } 
  
  h3 { 
      font-size: 1.14844rem;
  } 
  
  h3 { 
      color: #1e2022;
  } 
  
  h3 { 
      color: var(--title-color); 
      line-height: 1.2;
  } 
  
  h4 { 
      margin-top: 0; 
      margin-bottom: .5rem;
  } 
  
  h4 { 
      margin-bottom: .5rem; 
      font-weight: 600; 
      line-height: 1.4; 
      color: #1e2022;
  } 
  
  h4 { 
      font-size: .98438rem;
  } 
  
  h4 { 
      color: #1e2022;
  } 
  
  h4 { 
      color: var(--title-color); 
      line-height: 1.2;
  } 
  
  th { 
      font-weight: 400; 
      text-align: inherit; 
      text-align: -webkit-match-parent;
  } 
  
  .table th  { 
      padding: .75rem; 
      vertical-align: top; 
      border-top: .0625rem solid rgba(231, 234, 243, .7);
  } 
  
  .card-table th  { 
      padding-right: 1.3125rem; 
      padding-left: 1.3125rem;
  } 
  
  .table th  { 
      font-weight: 400;
  } 
  
  .table-nowrap th  { 
      white-space: nowrap;
  } 
  
  .table thead th  { 
      vertical-align: bottom; 
      border-bottom: .125rem solid rgba(231, 234, 243, .7);
  } 
  
  .table-borderless th ,.table-borderless thead th  { 
      border: 0;
  } 
  
  .table thead th  { 
      font-size: .75rem; 
      text-transform: uppercase; 
      font-weight: 600;
  } 
  
  .table-thead-bordered thead th  { 
      border-top: .0625rem solid rgba(231, 234, 243, .7); 
      border-bottom: .0625rem solid rgba(231, 234, 243, .7);
  } 
  
  thead.text-capitalize th  { 
      text-transform: capitalize; 
      font-size: 14px;
  } 
  
  .table-responsive thead th  { 
      border-top: none!important;
  } 
  
  .table .thead-light th  { 
      color: #677788; 
      background-color: #f8fafd; 
      border-color: rgba(231, 234, 243, .7);
  } 
  
  .table .thead-50 th  { 
      vertical-align: middle;
  } 
  
  .table .thead-light th  { 
      color: var(--title-color); 
      background-color: #f7faff; 
      border-color: rgba(1,119,205,.1);
  } 
  
  .rounded-0 { 
      border-radius: 0 !important;
  } 
  
  .avatar { 
      position: relative; 
      display: inline-block; 
      width: 2.625rem; 
      height: 2.625rem; 
      border-radius: .3125rem;
  } 
  
  .avatar-170 { 
      width: 170px; 
      height: 170px;
  } 
  
  .tio-globe:before { 
      content: "\eb08";
  } 
  
  ul { 
      margin-top: 0; 
      margin-bottom: 1rem;
  } 
  
  .nav { 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      padding-left: 0; 
      margin-bottom: 0; 
      list-style: none;
  } 
  
  .nav-tabs { 
      border-bottom: .0625rem solid #e7eaf3;
  } 
  
  .mb-2 { 
      margin-bottom: .5rem !important;
  } 
  
  .w-fit-content { 
      width: -webkit-fit-content; 
      width: -moz-fit-content; 
      width: fit-content;
  } 
  
  .badge { 
      display: inline-block; 
      padding: .3125em .5em; 
      font-size: 75%; 
      font-weight: 600; 
      line-height: 1; 
      text-align: center; 
      white-space: nowrap; 
      vertical-align: baseline; 
      border-radius: .3125rem; 
      transition: all .2s ease-in-out;
  } 
  
  @media (min-width: 576px){ 
    .justify-content-sm-end { 
      -ms-flex-pack: end !important; 
      justify-content: flex-end !important;
    } 
  }     
  
  .height-30px { 
      height: 30px;
  } 
  
  .lh-1 { 
      line-height: 1!important;
  } 
  
  .badge--primary-light { 
      border-radius: 3px; 
      border: 1px solid rgb(26 129 92/20%); 
      background: #fafcff; 
      font-size: 14.5px; 
      font-style: normal; 
      font-weight: 600; 
      line-height: 10.5px; 
      color: #0776fb;
  } 
  
  .d-none { 
      display: none !important;
  } 
  
  .pair-list > div  { 
      flex-wrap: wrap;
  } 
  
  .pair-list > div  { 
      display: flex; 
      gap: 8px;
  } 
  
  .pair-list > div:not(:last-child)  { 
      margin-bottom: 5px;
  } 
  
  .max-width-100px { 
      max-width: 100px;
  } 
  
  .nav-tabs .nav-item  { 
      margin-bottom: -.0625rem;
  } 
  
  .text-dark { 
      color: #132144 !important;
  } 
  
  .text-dark { 
      color: #1e2022 !important;
  } 
  
  .border-left { 
      border-left: .0625rem solid #e7eaf3 !important;
  } 
  
  .py-2 { 
      padding-top: .5rem !important;
  } 
  
  .py-2 { 
      padding-bottom: .5rem !important;
  } 
  
  .position-relative { 
      position: relative !important;
  } 
  
  .cursor-pointer { 
      cursor: pointer;
  } 
  
  .text-nowrap { 
      white-space: nowrap !important;
  } 
  
  .pair-list .key  { 
      min-width: 80px; 
      --flex-basis: 80px; 
      flex-basis: var(--flex-basis);
  } 
  
  .card-top-bg-element .pair-list .key  { 
      min-width: 100px; 
      --flex-basis: 100px; 
      flex-basis: var(--flex-basis); 
      white-space: nowrap;
  } 
  
  .nav-link { 
      display: block; 
      padding: .75rem .75rem;
  } 
  
  .nav-link { 
      color: #677788;
  } 
  
  .nav-tabs .nav-link  { 
      border: .0625rem solid transparent; 
      border-top-left-radius: .3125rem; 
      border-top-right-radius: .3125rem;
  } 
  
  .nav-link.active { 
      color: #377dff;
  } 
  
  .nav-tabs .nav-link  { 
      border-bottom-width: .0625rem; 
      border-left-width: 0; 
      border-right-width: 0; 
      border-top-width: 0; 
      padding: 1rem 1rem; 
      margin-bottom: 0;
  } 
  
  .nav-tabs .nav-link.active  { 
      color: #377dff; 
      background-color: transparent; 
      border-color: transparent transparent #377dff;
  } 
  
  .nav-tabs .nav-link.active  { 
      border-bottom-width: .2rem; 
      margin-bottom: -.1rem;
  } 
  
  .nav-tabs .nav-link.active  { 
      color: var(--c1); 
      border-color: transparent transparent var(--c1);
  } 
  
  .nav-tabs .nav-link.active  { 
      font-weight: 700;
  } 
  
  .nav-link:hover { 
      text-decoration: none;
  } 
  
  .nav-link:hover { 
      color: #0052ea;
  } 
  
  .nav-link:hover { 
      color: var(--c1);
  } 
  
   .nav-tabs .nav-link:hover { 
      border-color: transparent;
  } 
  
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover { 
      border-color: transparent;
  } 
  
  .max-50 { 
      max-width: 50px;
  } 
  
  .img-fit { 
      max-height: 100%; 
      width: 100%; 
      height: 100%; 
      -o-object-fit: cover; 
      object-fit: cover;
  } 
  
  .tio-star:before { 
      content: "\e967";
  } 
  
  .review-details-popup { 
      position: absolute; 
      top: calc(100% + 5px); 
      inset-inline-start: 0; 
      width: 14rem; 
      background: #fff; 
      border-radius: .2857142857rem; 
      z-index: 1; 
      border: 1px solid #ddd; 
      padding: 10px; 
      font-size: .688rem; 
      transition: all ease .3s;
  } 
  
  .review-hover:not(:hover) .review-details-popup  { 
      opacity: 0; 
      transform: translateY(6px); 
      visibility: hidden;
  } 
  
  h2 { 
      margin-bottom: .5rem; 
      font-weight: 600; 
      line-height: 1.4; 
      color: #1e2022;
  } 
  
  h2 { 
      color: #1e2022;
  } 
  
  h2 { 
      color: var(--title-color); 
      line-height: 1.2;
  } 
  
  .pb-1 { 
      padding-bottom: .25rem !important;
  } 
  
  .text-gulf-blue { 
      color: #334257;
  } 
  
  .btn-sm { 
      padding: .4375rem .65625rem; 
      font-size: .8125rem; 
      line-height: 0.5; 
      border-radius: .25rem;
  } 
  
  .w-auto { 
      width: auto !important;
  } 
  
  .h-25 { 
      height: 25% !important;
  } 
  
  .mx-2 { 
      margin-right: .5rem !important;
  } 
  
  .mx-2 { 
      margin-left: .5rem !important;
  } 
  
  .square-btn { 
      width: 30px; 
      height: 30px; 
      padding: 3px; 
      display: grid; 
      place-items: center;
  } 
  
  label { 
      display: inline-block; 
      margin-bottom: .5rem;
  } 
  
  label { 
      text-transform: capitalize;
  } 
  
  .font-weight-bold { 
      font-weight: 600 !important;
  } 
  
  .tio-edit:before { 
      content: "\ed26";
  } 
  
  .list-unstyled { 
      padding-left: 0; 
      list-style: none;
  } 
  
  .list-unstyled { 
      margin: 0; 
      padding: 0; 
      list-style: none;
  } 
  
  .font-size-sm { 
      font-size: .8125rem;
  } 
  
  .list-unstyled-py-2 > li:not(:last-child)  { 
      padding-bottom: .5rem;
  } 
  
  .mr-3 { 
      margin-right: 1rem !important;
  } 
  
  .progress { 
      display: -ms-flexbox; 
      display: flex; 
      height: .5rem; 
      overflow: hidden; 
      line-height: 0; 
      font-size: .65625rem; 
      background-color: #e7eaf3; 
      border-radius: .3125rem;
  } 
  
  .ml-3 { 
      margin-left: 1rem !important;
  } 
  
  .progress-bar { 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-direction: column; 
      flex-direction: column; 
      -ms-flex-pack: center; 
      justify-content: center; 
      overflow: hidden; 
      color: #fff; 
      text-align: center; 
      white-space: nowrap; 
      background-color: #377dff; 
      transition: width .6s ease;
  } 
  
  
