  .col-md-12 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 768px){ 
    .col-md-12 { 
      -ms-flex: 0 0 100%; 
      flex: 0 0 100%; 
      max-width: 100%;
    } 
  }     
  
  img { 
      vertical-align: middle; 
      border-style: none;
  } 
  
  img { 
      max-width: 100%;
  } 
  
  .card { 
      position: relative; 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-direction: column; 
      flex-direction: column; 
      min-width: 0; 
      word-wrap: break-word; 
      background-color: #fff; 
      background-clip: border-box; 
      border: .0625rem solid rgba(231, 234, 243, .7); 
      border-radius: .75rem;
  } 
  
  .card { 
      box-shadow: 0 6px 12px rgba(140, 152, 164, .075);
  } 
  
  .card { 
      border-color: #f4f4f4; 
      box-shadow: 0 5px 10px rgba(51,66,87,.05); 
      transition: all .3s ease;
  } 
  
  .card:hover { 
      box-shadow: 0 5px 24px rgba(7,59,116,.15);
  } 
  
  .card-body { 
      -ms-flex: 1 1 auto; 
      flex: 1 1 auto; 
      min-height: 1px; 
      padding: 1.3125rem;
  } 
  
  .px-3 { 
      padding-right: 1rem !important;
  } 
  
  .px-3 { 
      padding-left: 1rem !important;
  } 
  
  .py-4 { 
      padding-top: 1.5rem !important;
  } 
  
  .py-4 { 
      padding-bottom: 1.5rem !important;
  } 
  
  .table-responsive { 
      display: block; 
      width: 100%; 
      overflow-x: auto; 
      -webkit-overflow-scrolling: touch;
  } 
  
  .table-responsive { 
      max-height: calc(80vh - 160px); 
      overflow: auto;
  } 
  
  .mt-4 { 
      margin-top: 1.5rem !important;
  } 
  
  .text-start { 
      text-align: start;
  } 
  
  table { 
      border-collapse: collapse;
  } 
  
  .table { 
      width: 100%; 
      margin-bottom: 1rem; 
      color: #677788;
  } 
  
  .w-100 { 
      width: 100% !important;
  } 
  
  .card-table { 
      margin-bottom: 0;
  } 
  
  .table { 
      color: var(--title-color);
  } 
  
  @media (min-width: 992px){ 
    .justify-content-lg-end { 
      -ms-flex-pack: end !important; 
      justify-content: flex-end !important;
    } 
  }     
  
  .px-4 { 
      padding-right: 1.5rem !important;
  } 
  
  .px-4 { 
      padding-left: 1.5rem !important;
  } 
  
  input { 
      margin: 0; 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  input { 
      overflow: visible;
  } 
  
  ul { 
      margin-top: 0; 
      margin-bottom: 1rem;
  } 
  
  .nav { 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      padding-left: 0; 
      margin-bottom: 0; 
      list-style: none;
  } 
  
  .nav-tabs { 
      border-bottom: .0625rem solid #e7eaf3;
  } 
  
  .mb-4 { 
      margin-bottom: 1.5rem !important;
  } 
  
  .w-fit-content { 
      width: -webkit-fit-content; 
      width: -moz-fit-content; 
      width: fit-content;
  } 
  
  .form-group { 
      margin-bottom: 1.5rem;
  } 
  
  .justify-content-end { 
      -ms-flex-pack: end !important; 
      justify-content: flex-end !important;
  } 
  
  .gap-3 { 
      gap: 16px;
  } 
  
  .col-lg-8,.col-md-6,.col-sm-4 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 576px){ 
    .col-sm-4 { 
      -ms-flex: 0 0 33.33333%; 
      flex: 0 0 33.33333%; 
      max-width: 33.33333%;
    } 
  }     
  
  @media (min-width: 768px){ 
    .col-md-6 { 
      -ms-flex: 0 0 50%; 
      flex: 0 0 50%; 
      max-width: 50%;
    } 
  }     
  
  @media (min-width: 992px){ 
    .col-lg-8 { 
      -ms-flex: 0 0 66.66667%; 
      flex: 0 0 66.66667%; 
      max-width: 66.66667%;
    } 
  }     
  
  .mb-2 { 
      margin-bottom: .5rem !important;
  } 
  
  @media (min-width: 576px){ 
    .mb-sm-0 { 
      margin-bottom: 0 !important;
    } 
  }     
  
  .col-lg-4,.col-md-6,.col-sm-8 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  @media (min-width: 576px){ 
    .col-sm-8 { 
      -ms-flex: 0 0 66.66667%; 
      flex: 0 0 66.66667%; 
      max-width: 66.66667%;
    } 
  }     
  
  @media (min-width: 992px){ 
    .col-lg-4 { 
      -ms-flex: 0 0 33.33333%; 
      flex: 0 0 33.33333%; 
      max-width: 33.33333%;
    } 
  }     
  
  .table-responsive thead  { 
      position: sticky; 
      top: 0; 
      z-index: 1;
  } 
  
  .table .thead-50  { 
      block-size: 50px;
  } 
  
  .nav-tabs .nav-item  { 
      margin-bottom: -.0625rem;
  } 
  
  [type="reset"],button { 
      -webkit-appearance: button;
  } 
  
  .btn-secondary { 
      color: #fff; 
      background-color: #71869d; 
      border-color: #71869d;
  } 
  
  .btn-secondary { 
      background-color: #f4f5f7; 
      border-color: #f4f5f7; 
      color: var(--title-color);
  } 
  
  [type="reset"]:not(:disabled),button:not(:disabled) { 
      cursor: pointer;
  } 
  
  .btn-secondary:hover { 
      color: #fff; 
      background-color: #5f7389; 
      border-color: #596d82;
  } 
  
  .btn-secondary:active,.btn-secondary:hover { 
      background-color: #ededed; 
      border-color: #ededed; 
      color: var(--title-color);
  } 
  
  [type="submit"],button { 
      -webkit-appearance: button;
  } 
  
  .btn--primary { 
      background-color: var(--c1); 
      color: #fff;
  } 
  
  [type="submit"]:not(:disabled),button:not(:disabled) { 
      cursor: pointer;
  } 
  
  .btn--primary:hover { 
      background-color: #04a3e7; 
      color: #fff;
  } 
  
  h5 { 
      margin-top: 0; 
      margin-bottom: .5rem;
  } 
  
  h5 { 
      margin-bottom: .5rem; 
      font-weight: 600; 
      line-height: 1.4; 
      color: #1e2022;
  } 
  
  h5 { 
      font-size: .875rem;
  } 
  
  h5 { 
      color: #1e2022;
  } 
  
  h5 { 
      color: var(--title-color); 
      line-height: 1.2;
  } 
  
  a { 
      color: #377dff; 
      text-decoration: none; 
      background-color: transparent;
  } 
  
  .nav-link { 
      display: block; 
      padding: .75rem .75rem;
  } 
  
  .nav-link { 
      color: #677788;
  } 
  
  .nav-tabs .nav-link  { 
      border: .0625rem solid transparent; 
      border-top-left-radius: .3125rem; 
      border-top-right-radius: .3125rem;
  } 
  
  .nav-link.active { 
      color: #377dff;
  } 
  
  .nav-tabs .nav-link  { 
      border-bottom-width: .0625rem; 
      border-left-width: 0; 
      border-right-width: 0; 
      border-top-width: 0; 
      padding: 1rem 1rem; 
      margin-bottom: 0;
  } 
  
  .nav-tabs .nav-link.active  { 
      color: #377dff; 
      background-color: transparent; 
      border-color: transparent transparent #377dff;
  } 
  
  .nav-tabs .nav-link.active  { 
      border-bottom-width: .2rem; 
      margin-bottom: -.1rem;
  } 
  
  .nav-tabs .nav-link.active  { 
      color: var(--c1); 
      border-color: transparent transparent var(--c1);
  } 
  
  .nav-tabs .nav-link.active  { 
      font-weight: 700;
  } 
  
  a:hover { 
      color: #0052ea; 
      text-decoration: none;
  } 
  
  a:hover { 
      color: var(--c1);
  } 
  
  .nav-link:hover { 
      text-decoration: none;
  } 
  
  .nav-link:hover { 
      color: #0052ea;
  } 
  
  .nav-link:hover { 
      color: var(--c1);
  } 
  
   .nav-tabs .nav-link:hover { 
      border-color: transparent;
  } 
  
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover { 
      border-color: transparent;
  } 
  
  .d-none { 
      display: none !important;
  } 
  
  .col-md-6 { 
      position: relative; 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px;
  } 
  
  .mt-3 { 
      margin-top: 1rem !important;
  } 
  
  .badge { 
      display: inline-block; 
      padding: .3125em .5em; 
      font-size: 75%; 
      font-weight: 600; 
      line-height: 1; 
      text-align: center; 
      white-space: nowrap; 
      vertical-align: baseline; 
      border-radius: .3125rem; 
      transition: all .2s ease-in-out;
  } 
  
  .badge-soft-dark { 
      color: #132144; 
      background-color: rgba(19, 33, 68, .1);
  } 
  
  .radius-50 { 
      border-radius: 50px!important;
  } 
  
  .badge-soft-dark { 
      background: #e0e7ee;
  } 
  
  .fz-12 { 
      font-size: 12px!important;
  } 
  
  .input-group { 
      position: relative; 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      -ms-flex-align: stretch; 
      align-items: stretch; 
      width: 100%;
  } 
  
  .input-group-merge { 
      position: relative;
  } 
  
  .input-group-custom { 
      border: 1px solid var(--c1); 
      border-radius: 5px;
  } 
  
  th { 
      font-weight: 400; 
      text-align: inherit; 
      text-align: -webkit-match-parent;
  } 
  
  .table th  { 
      padding: .75rem; 
      vertical-align: top; 
      border-top: .0625rem solid rgba(231, 234, 243, .7);
  } 
  
  .card-table th  { 
      padding-right: 1.3125rem; 
      padding-left: 1.3125rem;
  } 
  
  .table th  { 
      font-weight: 400;
  } 
  
  .table-nowrap th  { 
      white-space: nowrap;
  } 
  
  .table thead th  { 
      vertical-align: bottom; 
      border-bottom: .125rem solid rgba(231, 234, 243, .7);
  } 
  
  .table-borderless th ,.table-borderless thead th  { 
      border: 0;
  } 
  
  .table thead th  { 
      font-size: .75rem; 
      text-transform: uppercase; 
      font-weight: 600;
  } 
  
  .table-thead-bordered thead th  { 
      border-top: .0625rem solid rgba(231, 234, 243, .7); 
      border-bottom: .0625rem solid rgba(231, 234, 243, .7);
  } 
  
  thead.text-capitalize th  { 
      text-transform: capitalize; 
      font-size: 14px;
  } 
  
  .table-responsive thead th  { 
      border-top: none!important;
  } 
  
  .table .thead-light th  { 
      color: #677788; 
      background-color: #f8fafd; 
      border-color: rgba(231, 234, 243, .7);
  } 
  
  .table .thead-50 th  { 
      vertical-align: middle;
  } 
  
  .table .thead-light th  { 
      color: var(--title-color); 
      background-color: #f7faff; 
      border-color: rgba(1,119,205,.1);
  } 
  
  .text-center { 
      text-align: center !important;
  } 
  
  .table-borderless th  { 
      border: 0;
  } 
  
  .table td  { 
      padding: .75rem; 
      vertical-align: top; 
      border-top: .0625rem solid rgba(231, 234, 243, .7);
  } 
  
  .table-borderless td  { 
      border: 0;
  } 
  
  .card-table td  { 
      padding-right: 1.3125rem; 
      padding-left: 1.3125rem;
  } 
  
  .table-nowrap td  { 
      white-space: nowrap;
  } 
  
  .table-align-middle tbody td  { 
      vertical-align: middle;
  } 
  
  label { 
      display: inline-block; 
      margin-bottom: .5rem;
  } 
  
  label { 
      text-transform: capitalize;
  } 
  
  .title-color { 
      color: var(--title-color);
  } 
  
  .form-control { 
      display: block; 
      width: 100%; 
      height: calc(1.6em + 1.21875rem); 
      padding: .54688rem .875rem; 
      font-size: .875rem; 
      font-weight: 400; 
      line-height: 1.6; 
      color: #1e2022; 
      background-color: #fff; 
      background-clip: padding-box; 
      border: .0625rem solid #e7eaf3; 
      border-radius: .3125rem; 
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  } 
  
  .form-control { 
      border-color: #d0dbe9;
  } 
  
  input[type="date"].form-control { 
      -webkit-appearance: none; 
      -moz-appearance: none; 
      appearance: none;
  } 
  
  .input-group-prepend { 
      display: -ms-flexbox; 
      display: flex;
  } 
  
  .input-group-prepend { 
      margin-right: -.0625rem;
  } 
  
  .input-group .input-group-prepend  { 
      z-index: 4;
  } 
  
  .input-group-merge .input-group-prepend  { 
      position: absolute; 
      top: 0; 
      bottom: 0;
  } 
  
  .input-group-merge .input-group-prepend  { 
      left: 0;
  } 
  
  [type="search"] { 
      outline-offset: -2px; 
      -webkit-appearance: none;
  } 
  
  .input-group-custom input  { 
      border-radius: 0; 
      border: none;
  } 
  
  .input-group > .form-control  { 
      position: relative; 
      -ms-flex: 1 1 auto; 
      flex: 1 1 auto; 
      width: 1%; 
      min-width: 0; 
      margin-bottom: 0;
  } 
  
  .input-group > .form-control:not(:last-child)  { 
      border-top-right-radius: 0; 
      border-bottom-right-radius: 0;
  } 
  
  .input-group > .form-control:not(:first-child)  { 
      border-top-left-radius: 0; 
      border-bottom-left-radius: 0;
  } 
  
  .input-group-merge .form-control:not(:first-child)  { 
      padding-left: 2.625rem; 
      border-top-left-radius: .3125rem; 
      border-bottom-left-radius: .3125rem;
  } 
  
  .input-group-merge .form-control:not(:last-child)  { 
      padding-right: 2.625rem; 
      border-top-right-radius: .3125rem; 
      border-bottom-right-radius: .3125rem;
  } 
  
  .input-group-merge .form-control:not(:last-child)  { 
      padding-right: 10px;
  } 
  
  .input-group-custom .btn  { 
      border-radius: 0; 
      border: none;
  } 
  
  .badge-soft-danger { 
      color: #ed4c78; 
      background-color: rgba(237, 76, 120, .1);
  } 
  
  .content .badge-soft-danger  { 
      color: #f55; 
      border-radius: 5px; 
      border: 1px solid rgba(255,85,85,.2); 
      background: #fff2f2;
  } 
  
  .justify-content-center { 
      -ms-flex-pack: center !important; 
      justify-content: center !important;
  } 
  
  .gap-10 { 
      gap: 10px;
  } 
  
  .badge-soft-success { 
      color: #00c9a7; 
      background-color: rgba(0, 201, 167, .1);
  } 
  
  .content .badge-soft-success  { 
      color: #07b275; 
      border-radius: 5px; 
      border: 1px solid rgba(7,178,117,.2); 
      background: #effff9;
  } 
  
  .input-group-text { 
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-align: center; 
      align-items: center; 
      padding: .54688rem .875rem; 
      margin-bottom: 0; 
      font-size: .875rem; 
      font-weight: 400; 
      line-height: 1.6; 
      color: #677788; 
      text-align: center; 
      white-space: nowrap; 
      background-color: transparent; 
      border: .0625rem solid #e7eaf3; 
      border-radius: .3125rem;
  } 
  
  .input-group-text { 
      border-color: #e7eaf3;
  } 
  
  .input-group-merge .input-group-text  { 
      z-index: 4; 
      border: none;
  } 
  
  .input-group > .input-group-prepend > .input-group-text  { 
      border-top-right-radius: 0; 
      border-bottom-right-radius: 0;
  } 
  
  .input-group-merge .input-group-prepend .input-group-text  { 
      padding: 0 0 0 .875rem;
  } 
  
  .input-group-merge .input-group-prepend .input-group-text:first-child  { 
      border-top-left-radius: .3125rem; 
      border-bottom-left-radius: .3125rem; 
      border-top-right-radius: 0; 
      border-bottom-right-radius: 0;
  } 
  
  .mx-auto { 
      margin-right: auto !important;
  } 
  
  .mx-auto { 
      margin-left: auto !important;
  } 
  
  .switcher { 
      display: block; 
      position: relative; 
      cursor: pointer; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      inline-size: 36px; 
      block-size: 18px; 
      margin-bottom: 0;
  } 
  
  .btn-sm { 
      padding: .4375rem .65625rem; 
      font-size: .8125rem; 
      line-height: 0.5; 
      border-radius: .25rem;
  } 
  
  .border-info { 
      border-color: #00c9db !important;
  } 
  
  .btn-soft-info { 
      color: #00c9db; 
      background-color: rgba(0, 201, 219, .1); 
      border-color: transparent;
  } 
  
  .h-30 { 
      height: 30px!important;
  } 
  
  .table .btn  { 
      white-space: nowrap;
  } 
  
  .btn-soft-info:active,.btn-soft-info:hover { 
      color: #fff; 
      background-color: #00c9db; 
      box-shadow: 0 4px 11px rgba(0, 201, 219, .1);
  } 
  
  .btn-outline--primary { 
      color: var(--c1); 
      border-color: var(--c1);
  } 
  
  .btn.btn-sm.edit { 
      width: 30px; 
      height: 30px; 
      padding: 3px; 
      display: grid; 
      place-items: center;
  } 
  
  .btn-outline--primary:hover { 
      background-color: var(--c1); 
      color: #fff;
  } 
  
  [class^="tio-"] { 
      font-family: the-icon-of!important; 
      font-size: 1.125em; 
      speak: none; 
      font-style: normal; 
      font-weight: 400; 
      font-variant: normal; 
      text-transform: none; 
      line-height: 1; 
      letter-spacing: 0; 
      -webkit-font-feature-settings: "liga"; 
      -moz-font-feature-settings: "liga"; 
      -ms-font-feature-settings: "liga" 1; 
      font-feature-settings: "liga"; 
      -webkit-font-variant-ligatures: discretionary-ligatures; 
      font-variant-ligatures: discretionary-ligatures; 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale;
  } 
  
  .tio-search:before { 
      content: "\e956";
  } 
  
  .switcher_input { 
      position: absolute; 
      opacity: 0; 
      cursor: pointer; 
      height: 0; 
      width: 0;
  } 
  
  input[type="checkbox"] { 
      box-sizing: border-box; 
      padding: 0;
  } 
  
  .switcher_control { 
      position: absolute; 
      inset-block-start: 0; 
      inset-inline-start: 0; 
      inline-size: 36px; 
      block-size: 18px; 
      transition: background-color .15s ease-in; 
      background-color: #ced7dd; 
      border-radius: 50px;
  } 
  
  .switcher_input:checked ~ .switcher_control:not(.unchecked)  { 
      background-color: var(--c1);
  } 
  
  .switch .slider::after,.switch_control:after, .switcher .slider::after,.switcher_control:after { 
      content: ""; 
      position: absolute; 
      inset-block-start: 1px; 
      inset-inline-start: 1px; 
      inline-size: 16px; 
      block-size: 16px; 
      transition: left .15s ease-in; 
      background-color: #fff; 
      border-radius: 100%;
  } 
  
  .switch .status:checked ~ .slider::after, .switch_input:checked ~ .switcher_control:not(.unchecked)::after, .switcher .status:checked ~ .slider::after, .switcher_input:checked ~ .switcher_control:not(.unchecked)::after { 
      inset-inline-start: 19px;
  } 
  
  svg { 
      overflow: hidden; 
      vertical-align: middle;
  } 
  
  .tio-edit:before { 
      content: "\ed26";
  } 
  
  .switch .slider::after, .switch_control::after, .switcher .slider::after, .switcher_control::after { 
      content: ""; 
      position: absolute; 
      inset-block-start: 1px; 
      inset-inline-start: 1px; 
      inline-size: 16px; 
      block-size: 16px; 
      transition: left .15s ease-in; 
      background-color: #fff; 
      border-radius: 100%;
  } 
  
  
  /* These were inline style tags. Uses id+class to override almost everything */
  #datatable.style-dty6T {  
     text-align: left;  
  }  
  